<section class="bp-section {{ gray_container_class }}">
  <div class="bp-container is-fluid">
    <div class="row">
      <div class="col is-full p-16">
        {%- if section.announcements.subtitle -%}
        <p class="eyebrow is-uppercase pb-4 has-text-centered">
          {{- section.announcements.subtitle -}}
        </p>
        {%- endif -%} {%- if section.announcements.title -%}
        <h1 class="has-text-secondary pb-4 has-text-centered">
          <b>{{- section.announcements.title -}}</b>
        </h1>
        {%- endif -%}

        <hr class="my-8 announcements-divider" />

        {%- for announcement in section.announcements.announcement_items -%}
        <div class="row is-desktop announcements-announcement-row-px-desktop">
          <div
            class="col is-4-desktop announcements-announcement-col-px-desktop announcements-announcement-title-mr-desktop"
          >
            <h3 class="announcements-announcement-title mb-4">
              <b>{{- announcement.title -}}</b>
            </h3>
            <p class="announcements-announcement-subtitle">
              {{- announcement.date -}}
            </p>
          </div>
          <div class="col announcements-announcement-col-px-desktop">
            <p>{{- announcement.announcement -}}</p>
            {%- if announcement.link_text and announcement.link_url -%}
            <div class="mt-4">
              {%- assign url_input = announcement.link_url -%} {%- include
              functions/external_url.html -%}
              <a
                {{anchor}}
                class="announcements-announcement-link bp-sec-button"
              >
                <span>{{- announcement.link_text -}}</span>
              </a>
            </div>
            {%- endif -%}
          </div>
        </div>
        {%- if forloop.last -%}
        <hr class="mt-8 mb-0 announcements-divider" />
        {%- else -%}
        <hr class="my-8 announcements-divider" />
        {%- endif -%} {%- endfor -%}
      </div>
    </div>
  </div>
</section>
