{%- comment -%}
<section class="sgds-section">
    <div class="sgds-container is-fluid">
        <div class="row">
            <div class="col is-half is-offset-one-quarter has-text-centered padding--top--xl">
                <p class="padding--bottom eyebrow is-uppercase">
                    {{- homepage.programmes-title -}}
                </p>
                <h1 class="has-text-secondary padding--bottom"><b>{{- homepage.programmes-subtitle -}}</b></h1>
                <p> {{- homepage.programmes-description -}} </p>
            </div>
        </div>
    </div>
    <div class="row has-text-centered margin--top padding--bottom">
        <div class="col is-offset-one-third is-one-third">
            <a href="{{- homepage.programmes-more-button-url -}}" class="sgds-sec-button">
                <div>
                    <span>{{- homepage.programmes-more-button -}}</span>
                    <i class="sgds-icon sgds-icon-arrow-right is-size-4" aria-hidden="true"></i>
                </div>
            </a>
        </div>
    </div>
</section>
{%- endcomment -%}
<section class="sgds-section is-full programme-container is-paddingless {{ gray_container_class }}">
    <div class="sgds-container is-fluid is-full is-marginless">
        <div class="row is-gapless bg-gradient offset-margin">
            <div class="col has-carousel">
                <div class="owl-theme owl-carousel programme-carousel ">
                    {%- for item in section.carousel -%}
                        {%- assign bg_color_index = forloop.index0 | modulo: 3 -%}
                        {%- if bg_color_index == 0 -%}
                            {%- assign bg_color = "bg-beeline" -%}
                        {%- elsif bg_color_index == 1 -%}
                            {%- assign bg_color = "bg-parkingsg" -%}
                        {%- else -%}
                            {%- assign bg_color = "bg-singpass" -%}
                        {%- endif -%}
                    
                        <div class="item {{bg_color}}">
                            <img src="{{site.baseurl}}{{item.image}}" alt="
                                {%- if item.alt -%}
                                    {{- item.alt -}}
                                {%- else -%}
                                    {{- item.title -}}
                                {%- endif -%}
                            " />
                            {%- if item.subtitle -%}
                                <p class="has-text-white is-hidden-desktop padding--left--sm has-text-centered-touch">{{ item.subtitle | upcase }}</p>
                            {%- endif -%}
                            <h3 class="has-text-weight-bold has-text-white is-hidden-desktop padding--left--sm padding--bottom--sm has-text-centered-touch">{{item.title}}</h3>
                        </div>
                    {%- endfor -%}
                </div>
            </div>
        </div>
        <div class="row offset-top  is-hidden-touch">
            <div class="col is-8 is-offset-2 has-carousel">
                <div class="programme-carousel owl-carousel">
                    {%- for item in section.carousel -%}
                        <div class="item bg-white">
                            <div class="row padding">
                                <div class="col">
                                    <div class="row">
                                        {%- if item.description -%}
                                            <div class="col is-3 has-text-centered-touch">
                                        {%- else -%}
                                            <div class="col is-12 has-text-centered">
                                        {%- endif -%}
                                            {%- if item.subtitle -%}
                                                <small class="has-text-grey">{{ item.subtitle | upcase }}</small>
                                            {%- endif -%}
                                            <h3 class="has-text-weight-bold has-text-grey-dark-">{{item.title}}</h3>
                                        </div>
                                        {%- if item.description -%}
                                            <div class="col is-9 is-hidden-touch">
                                                <p>{{item.description}}</p>
                                            </div>
                                        {%- endif -%}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {%- endfor -%}
                </div>
            </div>
            <div class="col">
                <div class="carousel-nav-container programme-nav">
                    <div class="carousel-nav left">
                        <i class="sgds-icon sgds-icon-chevron-left" aria-hidden="true"></i>
                    </div>
                    <div class="carousel-nav right">
                        <i class="sgds-icon sgds-icon-chevron-right" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>