{%- assign homepage = site.data.homepage -%}

<style>
  .bg-hero {
    background: url('{{site.baseurl}}{{homepage.hero-banner}}') no-repeat top left;
    -webkit-background-size: cover;
    background-size: cover;
  }
  
</style>
{%- assign collection-name = page.collection_name -%}
{%- assign current-collection = site[collection-name] -%}

<section class="sgds-hero bg-hero">
    <div class="sgds-hero-body">
        <div class="sgds-container margin--top--lg">
            <div class="row is-vcentered is-centered ma">
                <div class="col is-9 has-text-centered has-text-white">
                  <h1 class="display padding--bottom--lg margin--none">
                    <b class="is-hidden-touch">{{- homepage.hero-title -}}</b>
                    <b class="is-hidden-desktop">{{- homepage.hero-title -}}</b>
                  </h1>
                  <p class="is-hidden-mobile padding--bottom--lg">
                    {{- homepage.hero-subtitle -}}
                  </p>
                  {%- if site.homepage_hero_i_want_to == false -%}
                  {%- for button in homepage.button -%}
                  <a href="{{- site.baseurl -}}{{- button.url -}}" class="sgds-button is-secondary is-uppercase search-button">{{- button.text -}}</a>
                  {%- endfor -%}
                  {%- endif -%}
                  {%- if site.homepage_hero_i_want_to == true -%}
                    <div class="sgds-dropdown margin--top--sm is-fullwidth is-menu-centered">
                      <div class="sgds-dropdown-trigger">
                          <a class="sgds-button hero-dropdown is-medium is-centered" aria-haspopup="true" aria-controls="hero-dropdown-menu">
                              {%- if homepage.hero-dropdown-text -%}
                                <span><b><p>{{- homepage.hero-dropdown-text -}}</p></b></span>
                              {%- else -%}
                                <span><b><p>I want to...</p></b></span>
                              {%- endif -%}
                              <span class="icon">
                                  <i class="sgds-icon sgds-icon-chevron-down" aria-hidden="true"></i>
                              </span>
                          </a>
                      </div>
                      <div class="sgds-dropdown-menu has-text-left" id="hero-dropdown-menu" role="menu" >
                          <div class="sgds-dropdown-content is-centered">
                            {%- for element in homepage.i-want-to -%}
                            <a class="sgds-dropdown-item" href="{{- site.baseurl -}}{{element.url}}">
                                <h6>{{element.title}}</h6>
                            </a>
                            {%- endfor -%}
                          </div>
                      </div>
                    </div>
                  {%- endif -%}    
                </div>
            </div>
        </div>
    </div>
</section>
{%- if site.homepage_hero_i_want_to == false -%}
<section id="key-highlights" class="sgds-section is-paddingless">
    <div class="sgds-container">
       <div class="row is-gapless has-text-centered">
          {%- for link in homepage.key-highlights limit:4 -%}
          <div class="col">
            {%- include links-baseurl.html -%}
            {%- if link.external and link.url -%}
            <a href="{{- base-url -}}{{- link.url -}}" target="_blank" class="is-highlight" rel="noreferrer">
            {%- elsif link.url -%}
            <a href="{{- link.url -}}" class="is-highlight">
            {%- endif -%}
            <div class="key-highlights-text">
              <p class="has-text-weight-semibold has-text-white key-highlight-title is-uppercase padding--top--xs">{{- link.title -}}</p>
              <p class="has-text-white-trans padding--bottom--sm">{{- link.description -}}</p>
            </div>
            {%- if link.url -%}</a>{%- endif -%}
          </div>
          {%- endfor -%}
       </div>
    </div>
</section>
{%- endif -%}
