{% assign homepage = site.data.homepage %}

<style>

  .bg-hero {
    background: url('{{site.baseurl}}{{homepage.hero-banner}}') no-repeat top left;
    -webkit-background-size: cover;
    background-size: cover;
  }
  
</style>
{%- assign collection-name = page.collection_name -%}
{% assign current-collection = site[collection-name] %}

<section class="bp-hero bg-hero">
    <div class="bp-hero-body">
        <div class="bp-container margin--top--lg">
            <div class="row is-vcentered is-centered ma">
                <div class="col is-9 has-text-centered has-text-white">
                  <h1 class="display padding--bottom--lg margin--none">
                    <b class="is-hidden-touch">{{ homepage.hero-title }}</b>
                    <b class="is-hidden-desktop">{{ homepage.hero-title }}</b>
                  </h1>
                  <p class="is-hidden-mobile padding--bottom--lg">
                    {{ homepage.hero-subtitle }}
                  </p>
                  {% if site.homepage_hero_i_want_to == false %}
                  {% for button in homepage.button %}
                  <a href="{{ site.baseurl }}{{ button.url }}" class="bp-button is-secondary is-uppercase search-button">{{ button.text}}</a>
                  {% endfor %}
                  {% endif %}
                  {% if site.homepage_hero_i_want_to == true %}
                    <div class="bp-dropdown margin--top--sm">
                      <div class="bp-dropdown-trigger">
                          <a class="bp-button bp-dropdown-button hero-dropdown is-centered" aria-haspopup="true" aria-controls="hero-dropdown-menu">
                              <span><b><p>I want to...</p></b></span>
                              <span class="icon is-small">
                                  <i class="sgds-icon sgds-icon-chevron-down is-size-4" aria-hidden="true"></i>
                              </span>
                          </a>
                      </div>
                      <div class="bp-dropdown-menu has-text-left" id="hero-dropdown-menu" role="menu" >
                          <div class="bp-dropdown-content is-centered">
                            {% for element in homepage.i-want-to %}
                            <a class="bp-dropdown-item" href="{{ site.baseurl }}{{element.url}}">
                                <h5>{{element.title}}</h5>
                            </a>
                            {% endfor %}
                          </div>
                      </div>
                    </div>
                  {% endif %}    
                </div>
            </div>
        </div>
    </div>
</section>
{% if site.homepage_hero_i_want_to == false %}
<section id="key-highlights" class="bp-section is-paddingless">
    <div class="bp-container">
       <div class="row is-gapless has-text-centered">
          {% for link in homepage.key-highlights limit:4 %}

          <div class="col">
            {% include links-baseurl.html %}
            {% if link.external %}
            <a href="{{ base-url }}{{ link.url }}" target="_blank" class="is-highlight">
            {% else %}
            <a href="{{ link.url }}" class="is-highlight">
            {% endif %}
              <p class="has-text-weight-semibold has-text-white key-highlight-title is-uppercase padding--top--xs">{{ link.title }}</p>
              <p class="has-text-white-trans padding--bottom--sm">{{ link.description }}</p>
            </a>
          </div>

          {% endfor %}
       </div>
    </div>
</section>
{% endif %}
