<style>
    .bg-hero {
        background: url("{{site.baseurl}}{{section.hero.background}}") no-repeat top left;
        -webkit-background-size: cover;
        background-size: cover;
        background-position: center center;
    }
</style>

<section class="sgds-hero bg-hero">
    <div class="sgds-hero-body">
        <div class="sgds-container margin--top--lg">
            <div class="row is-vcentered is-centered ma">
                <div class="col is-9 has-text-centered has-text-white">
                    <h1 class="display padding--bottom--lg margin--none">
                        <b class="is-hidden-touch">{{- section.hero.title -}}</b>
                        <b class="is-hidden-desktop">{{- section.hero.title -}}</b>
                    </h1>
                    {%- if section.hero.subtitle -%}
                        <p class="is-hidden-mobile padding--bottom--lg">
                            {{- section.hero.subtitle -}}
                        </p>
                    {%- endif -%}
                    {%- if section.hero.dropdown -%}
                        <div class="sgds-dropdown margin--top--sm">
                            <div class="sgds-dropdown-trigger">
                                <a class="sgds-button sgds-dropdown-button hero-dropdown is-centered" aria-haspopup="true" aria-controls="hero-dropdown-menu">
                                    {%- if section.hero.dropdown.title -%}
                                        <span>
                                            <b>
                                                <p>{{- section.hero.dropdown.title -}}</p>
                                            </b>
                                        </span>
                                    {%- else -%}
                                        <span>
                                            <b>
                                                <p>I want to...</p>
                                            </b>
                                        </span>
                                    {%- endif -%}
                                    <span class="icon is-small">
                                        <i class="sgds-icon sgds-icon-chevron-down is-size-4" aria-hidden="true"></i>
                                    </span>
                                </a>
                            </div>
                            <div class="sgds-dropdown-menu has-text-left" id="hero-dropdown-menu" role="menu">
                                <div class="sgds-dropdown-content is-centered">
                                    {%- for option in section.hero.dropdown.options -%}
                                        {%- if option.url and option.title -%}
                                            <a class="sgds-dropdown-item" href="{{- site.baseurl -}}{{ option.url }}">
                                                <h5>{{ option.title }}</h5>
                                            </a>
                                        {%- endif -%}
                                    {%- endfor -%}
                                </div>
                            </div>
                        </div>
                    {%- else -%}
                        {%- if section.hero.url and section.hero.button -%}
                            <a href="{{- site.baseurl -}}{{- section.hero.url -}}" class="sgds-button is-secondary is-uppercase search-button">
                                {{- section.hero.button -}}
                            </a>
                        {%- endif -%}
                    {%- endif -%}
                </div>
            </div>
        </div>
    </div>
</section>

{%- if section.hero.key_highlights -%}
    <section id="key-highlights" class="sgds-section is-paddingless">
        <div class="sgds-container">
            <div class="row is-gapless has-text-centered">
                {%- for highlight in section.hero.key_highlights limit:4 -%}
                    {%- if highlight.url or highlight.title or highlight.description -%}
                        <div class="col">
                            {%- if highlight.url -%}
                                {%- assign url_input = highlight.url -%}
                                {%- include functions/external_url.html -%}
                                <a {{anchor}} class="is-highlight">
                            {%- endif -%}

                            {%- if highlight.title or highlight.description -%}
                                <div class="key-highlights-text">
                                    {%- if highlight.title -%}
                                        <p class="has-text-weight-semibold has-text-white key-highlight-title is-uppercase padding--top--xs">{{- highlight.title -}}</p>
                                    {%- endif -%}

                                    {%- if highlight.description -%}
                                        <p class="has-text-white-trans padding--bottom--sm">{{- highlight.description -}}</p>
                                    {%- endif -%}
                                </div>
                            {%- endif -%}

                            {%- if highlight.url -%}
                                </a>
                            {%- endif -%}
                        </div>
                    {%- endif -%}
                {%- endfor -%}
            </div>
        </div>
    </section>
{%- endif -%}