<section class="bp-section">
    <div class="bp-container">
        <div class="row has-text-centered">
            <div class="col is-one-third padding--top--xl">
                <img src={{site.baseurl}}"/images/digital-transformation/govtech-hive.jpg" alt="">
            </div>
            <div class="col is-two-thirds padding--top--xl">
                <p class="padding--bottom eyebrow is-uppercase">
                    USERS
                </p>
                <h1 class="has-text-secondary padding--bottom"><b>Hassle-free registration</b></h1>
                <p>We streamline your user registration process by removing your need for password and user management.</p>
                <a href="{{ homepage.programmes-more-button-url }}" class="bp-sec-button margin--top padding--bottom">
                    <div>
                        <span>API References</span>
                        <i class="sgds-icon sgds-icon-arrow-right" aria-hidden="true"></i>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>