<section class="bp-section">
    <div class="bp-container">
        <div class="row has-text-centered">
            <div class="col is-offset-one-third is-two-thirds padding--top--xl">
                <p class="padding--bottom eyebrow is-uppercase">
                    DEVELOPERS
                </p>
                <h1 class="has-text-secondary padding--bottom"><b>Develop seamlessly</b></h1>
                <p> With the NDI platform, app developers only need one client ID to gain access to multiple government services.</p>
                <a href="{{ homepage.programmes-more-button-url }}" class="bp-sec-button margin--top padding--bottom">
                    <div>
                        <span>API References</span>
                        <i class="sgds-icon sgds-icon-arrow-right" aria-hidden="true"></i>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>