<section class="sgds-section bg-newssection">
    <div class="sgds-container">
        <div class="row">
            <div class="col is-8 is-offset-2 has-text-centered padding--top--xl padding--bottom--xl">
                <p class="padding--bottom eyebrow is-uppercase">
                    {{- section.infobar.subtitle -}}
                </p>
                <h1 class="has-text-secondary padding--bottom--xl"><b>{{- section.infobar.title -}}</b></h1>

                <a href="{{- site.baseurl -}}{{- section.infobar.url -}}" class="sgds-sec-button is-media-card" target="_blank">
                    <div>
                        <span>{{- section.infobar.link -}}</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
