<section class="bp-section bg-newssection">
    <div class="bp-container">
        <div class="row">
            <div class="col is-8 is-offset-2 has-text-centered padding--top--xl padding--bottom--xl">
                <p class="padding--bottom subtitle-2">
                    {{- section.infobar.subtitle -}}
                </p>
                <h1 class="has-text-secondary padding--bottom--xl"><b>{{- section.infobar.title -}}</b></h1>

                <a href="{{- site.baseurl -}}{{- section.infobar.url -}}" class="link-button remove-after is-flex is-vh-centered flex-center" target="_blank">
                    <div>
                        <span>{{- section.infobar.link -}}</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
