<section class="sgds-section {{ gray_container_class }}">
    <div class="sgds-container">
        {%- comment -%} mobile edition {%- endcomment -%}
        <div class="row is-hidden-desktop is-hidden-tablet-only">
            <div class="col is-half padding--bottom">
                {%- if section.infopic.subtitle -%}
                    <p class="padding--bottom eyebrow is-uppercase">
                        {{- section.infopic.subtitle -}}
                    </p>
                {%- endif -%}

                <h1 class="has-text-secondary padding--bottom">
                    <b>{{- section.infopic.title -}}</b>
                </h1>

                {%- if section.infopic.description -%}
                    <p>
                        {{- section.infopic.description -}}
                    </p>
                {%- endif -%}

                {%- if section.infopic.url and section.infopic.button -%}
                    {%- assign url_input = section.infopic.url -%}
                    {%- include functions/external_url.html -%}
                    <a {{anchor}} class="sgds-sec-button margin--top padding--bottom">
                        <div>
                            <span>{{- section.infopic.button -}}</span>
                            <i class="sgds-icon sgds-icon-arrow-right is-size-4" aria-hidden="true"></i>
                        </div>
                    </a>
                {%- endif -%}
            </div>
            <div class="col is-half">
                {%- if section.infopic.image and section.infopic.alt -%}
                    <img src="{{- site.baseurl -}}{{- section.infopic.image -}}" alt="{{- section.infopic.alt -}}" />
                {%- else -%}
                    <h2>Both the image and alt text are required. Please refer to the documentation for more details.</h2>
                {%- endif -%}
            </div>
        </div>
        {%- comment -%} tablet edition {%- endcomment -%}
        <div class="row is-hidden-mobile is-hidden-desktop">
            <div class="col is-half is-half padding--top--xl padding--bottom--xl">
                {%- if section.infopic.image and section.infopic.alt -%}
                    <img src="{{- site.baseurl -}}{{- section.infopic.image -}}" alt="{{- section.infopic.alt -}}" />
                {%- else -%}
                    <h2>Both the image and alt text are required. Please refer to the documentation for more details.</h2>
                {%- endif -%}
            </div>
            <div class="col is-half">
                {%- if section.infopic.subtitle -%}
                    <p class="padding--bottom eyebrow is-uppercase">
                        {{- section.infopic.subtitle -}}
                    </p>
                {%- endif -%}

                <h1 class="has-text-secondary padding--bottom">
                    <b>{{- section.infopic.title -}}</b>
                </h1>

                {%- if section.infopic.description -%}
                    <p>
                        {{- section.infopic.description -}}
                    </p>
                {%- endif -%}

                {%- if section.infopic.url and section.infopic.button -%}
                    {%- assign url_input = section.infopic.url -%}
                    {%- include functions/external_url.html -%}
                    <a {{anchor}} class="sgds-sec-button margin--top padding--bottom">
                        <div>
                            <span>{{- section.infopic.button -}}</span>
                            <i class="sgds-icon sgds-icon-arrow-right is-size-4" aria-hidden="true"></i>
                        </div>
                    </a>
                {%- endif -%}
            </div>
        </div>
        {%- comment -%} desktop edition {%- endcomment -%}
        <div class="row is-hidden-mobile is-hidden-tablet-only">
            <div class="col is-half is-half padding--top--xl padding--bottom--xl">
                {%- if section.infopic.image and section.infopic.alt -%}
                    <img src="{{- site.baseurl -}}{{- section.infopic.image -}}" alt="{{- section.infopic.alt -}}" />
                {%- else -%}
                    <h2>Both the image and alt text are required. Please refer to the documentation for more details.</h2>
                {%- endif -%}
            </div>
            <div class="col is-half padding--top--xl padding--bottom--xl padding--left--xl padding--right--xl">
                {%- if section.infopic.subtitle -%}
                    <p class="padding--bottom eyebrow is-uppercase">
                        {{- section.infopic.subtitle -}}
                    </p>
                {%- endif -%}

                <h1 class="has-text-secondary padding--bottom">
                    <b>{{- section.infopic.title -}}</b>
                </h1>

                {%- if section.infopic.description -%}
                    <p>
                        {{- section.infopic.description -}}
                    </p>
                {%- endif -%}

                {%- if section.infopic.url and section.infopic.button -%}
                    {%- assign url_input = section.infopic.url -%}
                    {%- include functions/external_url.html -%}
                    <a {{anchor}} class="sgds-sec-button margin--top padding--bottom">
                        <div>
                            <span>{{- section.infopic.button -}}</span>
                            <i class="sgds-icon sgds-icon-arrow-right is-size-4" aria-hidden="true"></i>
                        </div>
                    </a>
                {%- endif -%}
            </div>
        </div>
    </div>
</section>