{%- comment -%}
  include: 
    subtitle
    title
    url
    linktext
    infoboxes[]:
      title
      description
      url
{%- endcomment -%}
<section class="px-8 px-sm-16 px-md-24 py-24 {{ gray_container_class }}">
  <div class="infocols-container">
    <div class="infocols-section is-flex">
      <div class="infocols-header is-flex">
        <p class="subtitle-2">
            {{ include.subtitle }}
        </p>
        <h1 class="h1 has-text-secondary has-text-centered">
          {{ include.title }}
        </h1>
      </div>
      <div class="infocols-infobox-section-grid is-flex">
        <div class="infocols-infobox-section has-text-left is-flex">
          {%- assign infoboxCount = include.infoboxes | size -%}
          {%- if infoboxCount == 4 -%}
            {%- for infobox in include.infoboxes limit:4 -%}
              <div class="infocols-infobox-body is-flex p-6">
                <h3 class="h3">
                  {{ infobox.title }}
                </h3>
                <p class="body-1 infocols-infobox-description">
                  {{ infobox.description }}
                </p>
              </div>
              {%- if forloop.index == 2 -%}
                </div>
                <div class="infocols-infobox-section has-text-left is-flex">
              {%- endif -%}
            {%- endfor -%}
          {%- else -%}
            {%- for infobox in include.infoboxes limit:4 -%}
              <div class="infocols-infobox-body is-flex p-6">
                <h3 class="h3">
                  {{ infobox.title }}
                </h3>
                <p class="body-1 infocols-infobox-description">
                  {{ infobox.description }}
                </p>
              </div>
            {%- endfor -%}
          {%- endif -%}
        </div>
      </div>

      {%- assign url_input = include.url -%}
      {%- include functions/external_url.html -%}
      <a {{anchor}} class="bp-sec-button infocols-footer is-flex">
        <span class="infocols-linktext">{{ include.linktext }}</span>
        <i class="sgds-icon sgds-icon-arrow-right is-size-4 infocols-link-icon" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</section>