{%- assign homepage = site.data.homepage -%}

<section class="bp-section bg-newssection">
    <div class="bp-container">
        <div class="row">
            <div class="col is-half is-offset-one-quarter has-text-centered padding--top--lg">
                <p class="padding--bottom eyebrow is-uppercase">
                    {{- homepage.resources-title -}}
                </p>
                <h1 class="has-text-secondary padding--bottom"><b>{{- homepage.resources-subtitle -}}</b></h1>
            </div>
        </div>
        <div class="row padding--bottom">
            {%- for post in site.posts limit:3 -%}
            <div class="col">
                {%- comment -%} Define category_index - the index used to determine the bg-color-{{category_index}} {%- endcomment -%}
                {%- comment -%} Fallback in case category_index is not set in the for loop {%- endcomment -%}
                {%- assign category_index = 1 -%}
                {%- comment -%} Edge case where subcategory has the same name as resource room (post.categories[1] becomes undefined) {%- endcomment -%}
                {%- if post.categories[1] -%}
                    {%- assign post_category = post.categories[1] -%}
                {%- else -%}
                    {%- assign post_category = post.categories[0] -%}
                {%- endif -%}
                {%- for category in site.categories -%}
                    {%- capture category_name -%}{{- category | first -}}{%- endcapture -%}
                    {%- if category_name == post_category -%}
                        {%- assign category_index = forloop.index0 | modulo:5 | plus:1 -%}
                        {%- break -%}
                    {%- endif -%}
                {%- endfor -%}
                {%- comment -%} Temporarily disable post.image thumbnail display - change post.imageStuff back to post.image when we are ready to release the feature {%- endcomment -%}
                {%- if post.imageStuff -%}
                <div class="image-card">
                    <a href="{{- post.url | relative_url | append: '.html'}}" class="has-text-grey-dark is-media-card">
                    <img src="{{site.baseurl}}{{post.image}}" alt="">
                    <div class="news-content bg-media-color-{{category_index}} media-card-plain padding--lg">
                        <div>
                            <small class="tag padding--bottom">{{- post_category | upcase | replace: '-', ' ' | replace: '_', ' ' -}}</small>
                            <h5>
                            <b>{{- post.title | truncatewords: 10 -}}</b>
                            </h5>
                        </div>
                        <small class="date is-uppercase padding--top--lg">
                            {{- post.date | date_to_string -}}
                        </small>
                    </div>
                    </a>
                </div>
                {%- else -%}
                    {%- if post.permalink -%}
                        <a href="{{- post.permalink | relative_url -}}" class="is-media-card">
                    {%- else -%}
                        <a href="{{- post.file_url | relative_url -}}" class="is-media-card" target="_blank" rel="noreferrer">
                    {%- endif -%}

                    <div class="media-card-plain bg-media-color-{{category_index}} padding--lg">
                        <div>
                            <small class="has-text-white padding--bottom">{{- post_category | upcase | replace: '-', ' ' | replace: '_', ' ' -}}</small>
                            <h4 class="has-text-white padding--bottom--lg" style="line-height: 2.25rem"><b>{{- post.title | truncatewords: 15 -}}</b></h4>
                        </div>
                        <div class="is-fluid padding--top--md description">
                            <small class="has-text-white">{{- post.date | date_to_string | upcase -}}</small>
                            {%- if post.file_url -%}
                                <small class="has-text-white">
                                    <span class="sgds-icon sgds-icon-download align-right is-size-4"></span>
                                </small>
                            {%- endif -%}
                        </div>
                    </div>
                    </a>
                {%- endif -%}
            </div>
            {%- endfor -%}
        </div>
        <div class="row has-text-centered margin--top padding--bottom--lg">
            <div class="col is-offset-one-third is-one-third">
                <a href="{{- homepage.resources-more-button-url -}}" class="bp-sec-button">
                    <div>
                        <span>{{- homepage.resources-more-button -}}</span>
                        <i class="sgds-icon sgds-icon-arrow-right is-size-4" aria-hidden="true"></i>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
