<section class="bp-section bg-hero-bottom">
    <div class="bp-container">
        <div class="row">
            <div class="col is-8 is-offset-2 has-text-centered padding--top--xl padding--bottom--xl has-text-white">
                <h1 class="padding--bottom"><b>Ready to start?</b></h1>
                <p class="padding--bottom--lg">We will discuss with you on your needs and help you come onboard Isomer.</p>
                <a href="{{ site.baseurl }}/contact-us">
                    <div class="bp-button is-white is-outlined is-uppercase search-button">
                        Get in touch
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
