<section class="bp-section {{ gray_container_class }}">
    <div class="bp-container padding--bottom--lg">
        <div class="row">
            <div class="col is-8 is-offset-2 has-text-centered padding--top--xl">
                <p class="padding--bottom eyebrow is-uppercase">
                    {{ section.showcase.subtitle }}
                </p>
                <h1 class="has-text-secondary padding--bottom"><b>{{ section.showcase.title }}</b></h1>
                <p>{{ section.showcase.description }}</p>
            </div>
        </div>
        <div class="row has-text-centered margin--top padding--bottom showcase showcase-{{ section.showcase.colcount }}">
            {%- for entry in section.showcase.entries -%}
            <div class="col">
                {%- if entry.url -%}
                {%- assign url_input = entry.url -%}
                {%- include functions/external_url.html -%}
                <a {{anchor}} class="is-media-card" target="_blank">
                {%- endif -%}
                <div class="image-hoverable">
                    <img src="{{ site.baseurl }}{{ entry.image }}" />
                    <div class="image-hover-overlay">
                        <div class="image-hover-overlay-container">
                            {%- if entry.description -%}
                            <div>{{ entry.description }}</div>
                            {%- endif -%}
                            {%- if entry.button -%}
                            <div class="bp-button is-outlined is-uppercase search-button">{{ entry.button }}</div>
                            {%- endif -%}
                        </div>
                    </div>
                </div>
                {%- if entry.url -%}
                </a>
                {%- endif -%}
                <h5 class="padding--top--sm"><b>{{ entry.title }}</b></h5>
            </div>
            {%- endfor -%}
        </div>
    </div>
</section>
