@use "sass:map";

.min-height-mobile {
  min-height: 398px;
}

.gray-overlay {
  background: rgba(0, 0, 0, 0.25);
}

.hero-body-padding {
  padding: 3rem 1.5rem;
}

@media screen and (min-width: map.get($breakpoints, "md")) {
  .hero-floating {
    padding: 3rem;
  }
}

// NOTE: This is to keep the infobox from exceeding
// the width of the nav-bar.
// Hence, any changes here or on nav-bar should be
// duplicated to the other.
.infobox-container {
  max-width: $container-max-width;
  margin: 0 auto;
}
