.infocols-container {
  max-width: 1280px;
  margin: auto;
}

.infocols-section {
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 3rem;
  flex-wrap: wrap;

  .infocols-footer {
    flex-direction: row;
    gap: 0.75rem;

    .infocols-linktext {
      font-size: 1.125rem;
      text-transform: uppercase;
      margin: 0;
      transform: translateY(
        -0.09rem
      ); // making it centered with the arrow-right icon
    }
  }
}

.infocols-infobox-section {
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  gap: 2rem;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: column;

  // @media screen and (min-width: 1024px) {
  //   text-align: center;
  // }

  // Make it into row for tablet onwards
  @media screen and (min-width: 769px) {
    flex-direction: row;
  }

  .infocols-infobox-body {
    flex-direction: column;
    flex: 1 0 0;
    align-items: flex-start;
    gap: 1rem;

    // Fill 40% if width >= 1280
    @media screen and (min-width: 1280px) {
      max-width: 40%;
    }

    // Fill 50% if width 1280 > x >= 769
    @media screen and (min-width: 769px) {
      max-width: 50%;
    }

    // For screen width x < 769, infobox fills up entire width
    @media screen and (max-width: 768px) {
      max-width: 100%;
    }

    .infocols-infobox-description {
      flex-grow: 1;
    }
  }
}
