@use "sass:map";

.textcards-section {
  flex-direction: column;
  align-items: center;
}

.textcards-subtitle {
  font-size: 1rem;
  font-weight: 600;
}

.textcards-title {
  font-size: 3rem;
  font-weight: 700;
  line-height: 4rem;
}

.textcards-description {
  font-size: 1.25rem;
}

.textcards-card-section {
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: column;
  
  @media screen and (min-width: map.get($breakpoints, "md")) {
    flex-direction: row;
  }

  .textcards-card-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    flex: 1 0 0;
    align-self: stretch;
    color: #484848;

    border-radius: 4px;
    border: 1px solid $stroke-default-color;
    background: var(--white, #FFF);
    box-shadow: 0px 0px 10px 0px rgba(191, 191, 191, 0.50);

    @media screen and (min-width: map.get($breakpoints, "md")) {
      max-width: 50%;
    }

    @media screen and (min-width: map.get($breakpoints, "md")) and (max-width: (map.get($breakpoints, "lg") - 1)) {
      flex: 0 0 calc(50% - 24px);
    }

    &:hover {
      background-color: $interaction-hover-color;
      cursor: pointer;
      > .textcards-card-url {
        color: $secondary-color-hover;
      }
    }

    .textcards-card-title {
      font-size: 1.625rem;
      font-weight: 700;
    }

    .textcards-card-description {
      flex-grow: 1;
    }

    .textcards-card-url {
      font-size: 1.125rem;
      text-decoration: underline;
      color: $secondary-color
    }
  }
}
