<div
  class="is-flex {% if section.hero.alignment == 'right' %} flex-end {% else %} flex-start {% endif %}"
>
  <div
    class="p-16 hero-background-{{- section.hero.backgroundColor }} is-flex hero-{{ section.hero.variant }}-{{- section.hero.size | default: 'md' -}}"
    style="flex-direction: column"
  >
    <div
      class="{% if section.hero.variant == 'side' %} side-section-infobox-container {% endif %}"
      style="display: flex; flex-direction: column; align-self: {% if section.hero.alignment == 'right' %} flex-start {% else %} flex-end {% endif %};"
    >
      <div class="mb-8 is-flex" style="flex-direction: column">
        <h1 class="h1 mb-4 hero-text-color">
          <b>{{- section.hero.title -}}</b>
        </h1>
        {%- if section.hero.subtitle -%}
        <p class="is-hidden-touch body-2 hero-text-color">
          {{- section.hero.subtitle -}}
        </p>
        {%- endif -%}
      </div>
      {%- if section.hero.dropdown -%}
      <div
        class="is-flex is-full-width"
        style="justify-content: center; align-content: center"
      >
        {% include homepage/hero/components/hero-dropdown.html %}
      </div>
      {% elsif section.hero.url and section.hero.button -%}
      <div>
        <a
          href="{{- site.baseurl -}}{{- section.hero.url -}}"
          class="bp-button is-secondary is-uppercase search-button"
        >
          {{- section.hero.button -}}
        </a>
      </div>
      {%- endif -%}
    </div>
  </div>
</div>
