/*
  These are margin and padding helpers with values that follow the ones
  used by Tailwind CSS. This will generate several classes, such as:
  - .mr-8 which gives margin-right 2rem
  - .mx-16 which gives margin-left and margin-right 4rem
  - .py-4 which gives padding-top and padding-bottom 1rem
  - .p-20 which gives padding 5rem
*/

$spaceamounts: (
  "auto",
  0,
  1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  14,
  16,
  20,
  24,
  28,
  32,
  36,
  40,
  44,
  48,
  52,
  56,
  60,
  64,
  72,
  80,
  96
);

$sides: (
  "t": "top",
  "b": "bottom",
  "l": "left",
  "r": "right",
  "x": (
    "left",
    "right",
  ),
  "y": (
    "top",
    "bottom",
  ),
  "": (
    "top",
    "bottom",
    "left",
    "right",
  ),
);

@each $breakpoint, $minwidth in $breakpoints {
  @if $minwidth != 0px {
    @media (min-width: $minwidth) {
      @each $space in $spaceamounts {
        $remSpace: if($space == "auto", auto, calc(#{$space}rem / 4));

        @each $prefix, $positions in $sides {
          $suffix: #{$prefix};
          @if $minwidth != 0px {
            $suffix: #{$prefix}-#{$breakpoint};
          }

          .m#{$suffix}-#{$space} {
            @each $position in $positions {
              margin-#{$position}: $remSpace !important;
            }
          }

          .p#{$suffix}-#{$space} {
            @each $position in $positions {
              padding-#{$position}: $remSpace !important;
            }
          }
        }
      }
    }
  } @else {
    @each $space in $spaceamounts {
      $remSpace: if($space == "auto", auto, calc(#{$space}rem / 4));

      @each $prefix, $positions in $sides {
        .m#{$prefix}-#{$space} {
          @each $position in $positions {
            margin-#{$position}: $remSpace !important;
          }
        }

        .p#{$prefix}-#{$space} {
          @each $position in $positions {
            padding-#{$position}: $remSpace !important;
          }
        }
      }
    }
  }
}

.display-styles {
  font-family: Lato;
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 5rem; /* 125% */
  letter-spacing: -1.408px;
}

.h1-styles {
  font-family: Lato;
  font-size: 2.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.5rem; /* 116.667% */
  letter-spacing: -1.056px;
  @media screen and (min-width: 1024px) {
    font-size: 3rem;
  }
}

.h1-small-styles {
  font-family: Lato;
  font-size: 2.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.5rem; /* 116.667% */
  letter-spacing: -1.056px;
}

.h2-styles {
  font-family: Lato;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.5rem; /* 125% */
  letter-spacing: -0.704px;
}

.h3-styles {
  font-family: Lato;
  font-size: 1.625rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem; /* 123.077% */
}

.subtitle-1-styles {
  font-family: Lato;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75rem; /* 155.556% */
  letter-spacing: -0.396px;
}

.subtitle-2-styles {
  font-family: Lato;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.375rem; /* 155.556% */
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.body-1-styles {
  font-family: Lato;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem; /* 160% */
  letter-spacing: -0.44px;
}

.body-2-styles {
  font-family: Lato;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75rem; /* 155.556% */
}

.linkbutton-styles {
  font-family: Lato;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2rem; /* 177.778% */
  text-decoration-line: underline;
  text-transform: uppercase;
  color: $secondary-color;
}

.buttontext-styles {
  font-family: Lato;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2rem; /* 200% */
  text-transform: uppercase;
  color: $secondary-color;
}

.link-styles {
  font-family: Lato;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5rem; /* 133.333% */
  letter-spacing: 0.27px;
  text-decoration-line: underline;
  color: $secondary-color;

  &:hover {
    color: $secondary-color-hover;
  }
}