<footer class="bp-footer top-section">
    <div class="bp-container ">
        <div class="row">
            <div class="col header padding--top--lg padding--bottom--lg">
                <h5 class="sub-header has-text-white"><b>{{site.title}}</b></h5>
            </div>
        </div>
        <div class="row is-top">
            {%- if site.data.footer -%}
                {%- assign links = site.data.footer -%}
            {% else %}
                {%- assign links = site.data.navigation -%}
            {% endif %}

            {% assign social = site.data.social-media %}
            
            <!-- Set columns for nav links based on social media links -->
            {%- if social -%}
              {%- assign navClass = "is-four-fifths" -%}
            {%- else -%}
              {%- assign navClass = "" -%}
            {% endif %}
            
            <div class="row col {{navClass}} is-multiline is-hidden-mobile">
            <!-- Footer links for tablet/desktop -->
            {%- for link in links -%}
            {% include links-baseurl.html %}
            {% assign linkTitle = link.title | downcase %}
            {% if linkTitle != "contact us" and linkTitle != "faq" %}
                <div class="col is-one-quarter is-hidden-mobile padding--bottom--lg is-left">
                  {%- if base-url == "" and link.external == true -%}
                    <p class="sub-header"><b><a class="has-text-white" href="{{ base-url }}{{ link.url }}" target="_blank">{{link.title}}</a></b></p>
                  {% else %}
                    <p class="sub-header"><b><a class="has-text-white" href="{{ base-url }}{{ link.url }}">{{link.title}}</a></b></p>
                  {% endif %}
                  {%- for sublink in link.sub-links -%}
                    {% include sublinks-baseurl.html %}
                    {%- if sublink-base-url == "" and sublink.external == true -%}
                      <p class="is-hidden-mobile"><a href="{{ sublink-base-url }}{{ sublink.url }}" target="_blank">{{sublink.title}}</a></p>
                    {% else %}
                      <p class="is-hidden-mobile"><a href="{{ sublink-base-url }}{{ sublink.url }}">{{sublink.title}}</a></p>
                    {% endif %}
                  {%- endfor -%}
                </div>
            {% endif %}
            {%- endfor -%}
            </div>

            {%- if social -%}
              <!-- Social links for desktop -->
              <div class="col is-one-fifth is-hidden-mobile is-hidden-tablet-only" id="social-link-desktop">
                {% if social.facebook %}
                  <a href="{{ social.facebook }}" target="_blank" class="social-link padding--right padding--bottom is-inline-block"><span class="sgds-icon sgds-icon-facebook is-size-4"></span></a>
                {% endif %}
                {% if social.twitter %}
                  <a href="{{ social.twitter }}" target="_blank" class="social-link padding--right padding--bottom is-inline-block"><span class="sgds-icon sgds-icon-twitter is-size-4"></span></a>
                {% endif %}
                {% if social.youtube %}
                  <a href="{{ social.youtube }}" target="_blank" class="social-link padding--right padding--bottom is-inline-block"><span class="sgds-icon sgds-icon-youtube is-size-4"></span></a>
                {% endif %}
                {% if social.instagram %}
                  <a href="{{ social.instagram }}" target="_blank" class="social-link padding--right padding--bottom is-inline-block"><span class="sgds-icon sgds-icon-instagram is-size-4"></span></a>
                {% endif %}
                {% if social.linkedin %}
                  <a href="{{ social.linkedin }}" target="_blank" class="social-link padding--bottom is-inline-block"><span class="sgds-icon sgds-icon-linkedin is-size-4"></span></a>
                {% endif %}
              </div>
              
              <!-- Social links for tablet -->
              <div class="col is-one-quarter is-hidden-mobile is-hidden-desktop" id="social-link-tablet">
                {% if social.facebook %}
                  <div class="row">
                    <a href="{{ social.facebook }}" target="_blank" class="social-link margin--bottom"><span class="sgds-icon sgds-icon-facebook is-size-4"></span></a>
                  </div>
                {% endif %}
                {% if social.twitter %}
                  <div class="row">
                    <a href="{{ social.twitter }}" target="_blank" class="social-link margin--bottom"><span class="sgds-icon sgds-icon-twitter is-size-4"></span></a>
                  </div>
                {% endif %}
                {% if social.youtube %}
                  <div class="row">
                    <a href="{{ social.youtube }}" target="_blank" class="social-link margin--bottom"><span class="sgds-icon sgds-icon-youtube is-size-4"></span></a>
                  </div>
                {% endif %}
                {% if social.instagram %}
                  <div class="row">
                    <a href="{{ social.instagram }}" target="_blank" class="social-link margin--bottom"><span class="sgds-icon sgds-icon-instagram is-size-4"></span></a>
                  </div>
                {% endif %}
                {% if social.linkedin %}
                  <div class="row">
                    <a href="{{ social.linkedin }}" target="_blank" class="social-link margin--bottom"><span class="sgds-icon sgds-icon-linkedin is-size-4"></span></a>
                  </div>
                {% endif %}
              </div>
            {% endif %}

            <!-- Footer links for mobile -->
            <div class="col is-hidden-tablet is-hidden-desktop">
              {%- for link in links -%}
                {% include links-baseurl.html %}
                {% assign linkTitle = link.title | downcase %}
                {% if linkTitle != "contact us" and linkTitle != "faq" %}
                  {%- if base-url == "" and link.external == true -%}
                    <p><a href="{{ base-url }}{{ link.url }}" target="_blank">{{link.title}}</a></p>
                  {% else %}
                    <p><a href="{{ base-url }}{{ link.url }}">{{link.title}}</a></p>
                  {% endif %}
                {% endif %}
              {%- endfor -%}
            </div>

        </div>
        <div class="row">
          <div class="col padding--top--sm padding--bottom--sm is-right-desktop-only">
            <ul>
               <li class="is-inline-block-desktop-only">
                   <p><a href="{{site.baseurl}}/contact-us/">Contact Us</a></p>
               </li>
               <li class="is-inline-block-desktop-only">
                  <p><a href="{{site.feedback_form_url}}" target="_blank">Feedback</a></p>
               </li>
               {% assign homepage = site.data.homepage %}
               {% unless homepage.ask-jamie %}
               <li class="is-inline-block-desktop-only">
                  {% if site.faq_url_external %}
                    <p><a href="{{site.faq_url}}" target="_blank">FAQ</a></p>
                  {% else %}
                    <p><a href="{{site.baseurl}}{{site.faq_url}}">FAQ</a></p>
                  {% endif %}
               </li>
               {% endunless %}
           </ul>
          </div>
          <div class="col is-hidden-tablet is-hidden-desktop padding--top--lg padding--bottom--none">
              {% if social.facebook %}
                <a href="{{ social.facebook }}" target="_blank" class="social-link padding--right"><span class="sgds-icon sgds-icon-facebook is-size-4"></span></a>
              {% endif %}
              {% if social.twitter %}
                <a href="{{ social.twitter }}" target="_blank" class="social-link padding--right"><span class="sgds-icon sgds-icon-twitter is-size-4"></span></a>
              {% endif %}
              {% if social.youtube %}
                <a href="{{ social.youtube }}" target="_blank" class="social-link padding--right"><span class="sgds-icon sgds-icon-youtube is-size-4"></span></a>
              {% endif %}
              {% if social.instagram %}
                <a href="{{ social.instagram }}" target="_blank" class="social-link padding--right"><span class="sgds-icon sgds-icon-instagram is-size-4"></span></a>
              {% endif %}
              {% if social.linkedin %}
                <a href="{{ social.linkedin }}" target="_blank" class="social-link padding--right"><span class="sgds-icon sgds-icon-linkedin is-size-4"></span></a>
              {% endif %}
            </div>
        </div>
    </div>
</footer>
<footer class="bp-footer bottom-section">
    <div class="bp-container ">
        <div class="row is-vcentered">
          <div class="col padding--top--none padding--bottom--none">
            <div class="col divider padding--top--none padding--bottom--none"></div>
          </div>
        </div>
        <div class="row is-vcentered padding--top--sm">
            <div class="col is-two-thirds">
                <ul>
                    <li><a href="{{site.baseurl}}/privacy/">Privacy Statement</a></li>
                    <li><a href="{{site.baseurl}}/terms-of-use/">Terms of Use</a></li>
                    <li><a href="https://www.isomer.gov.sg">Built with Isomer</a></li>
                    <!-- <li><a>Rate Service</a></li> -->
                </ul>
            </div>
            <div class="col is-one-third has-text-right-desktop has-text-right-tablet has-text-left-mobile">
                <p class="is-hidden-touch is-hidden-desktop-only"> © {{ site.time | date: "%Y" }} 
                {% unless site.is_government == false %}
                  {{site.title}}. 
                {% endunless %}
                <p class="is-hidden-touch is-hidden-desktop-only last-updated">
                Last Updated {{ site.time | date_to_string }}</p>
                {% unless site.is_government == false %}
                  <p class="is-hidden-widescreen">© {{ site.time | date: "%Y" }} {{site.title}}</p>
                {% endunless %}
                <p class="is-hidden-widescreen last-updated">Last Updated {{ site.time | date_to_string }}</b>
            </div>

        </div>
    </div>
</footer>
