<!-- Search bar display -->
<div class="pb-12">
  {%- if page.infotext and page.collection and page.collection != "posts" -%}
    <div class="subtitle-1 pb-1 datagov-v2-browsing">You are browsing</div>
    <div class="pb-8 subtitle-1">
      
      {{ page.collection | replace: "-", " " | replace: "_", " " | capitalize}}
      {%- if page.third_nav_title -%}
        <i class="sgds-icon sgds-icon-chevron-right is-size-5 px-1" aria-hidden="true"></i>
        {{- page.third_nav_title -}}
      {%- endif -%}
      {%- if page.title -%}
        <i class="sgds-icon sgds-icon-chevron-right is-size-5 px-1" aria-hidden="true"></i>
        {{- page.title -}}
      {%- endif -%}
    </div>
  {%- endif -%}
  <form action="{{site.baseurl}}{{page.url}}" method="get">
      <div class="row">
          <div id="database-search-container" class="col">
          <div class="field has-addons">
              <div class="control has-icons-left is-expanded datagov-search-border is-flex is-vh-centered">
                  <input class="input is-fullwidth is-large has-border-grey-light is-size-5 pl-12" style="height:3.25rem" id="search-box-datagovsg" type="text" placeholder="What are you looking for?" name="query" autocomplete="off">
                  <span class="is-large is-left">
                      <i class="sgds-icon sgds-icon-search is-size-5 search-bar"></i>
                  </span>

              </div>
              <div class="col is-one-quarter p-0 pl-4 mr-3 is-hidden-touch">
                <div class="bp-dropdown is-full-height">
                    <a class="bp-dropdown-button hero-dropdown is-centered padding--none is-full-height" aria-haspopup="true" aria-controls="hero-dropdown-menu">
                    <div class="bp-dropdown-trigger remove-border">
                        <span class="sgds-icon sgds-icon-chevron-down is-size-5 has-text-black" id="filter-arrow"></span>
                        <input class="sgds-selector has-text-black pointer dropdown-input is-full-height is-size-5" id="field-selector-desktop" name="field" readonly ></input>
                    </div>
                    </a>
                    <div class="bp-dropdown-menu has-text-left" id="hero-dropdown-menu" role="menu" >
                      <div id="field-filter-desktop" class="bp-dropdown-content is-centered is-flex" style="flex-direction: column; gap: 0.5rem;">
                      </div>
                    </div>
                </div>
              </div>
              <div class="control is-hidden-touch">
                  <button type="submit" class="bp-button is-secondary is-medium has-text-white search-button">SEARCH</button>
              </div>
          </div>
          <div class="is-hidden-desktop is-flex" style="flex-direction: column;">
            <div class="col is-fullwidth is-hidden-desktop is-flex px-0">
              <div class="is-hidden-desktop is-full-width is-full-height datagov-search-border">
                  <span class="sgds-icon sgds-icon-chevron-down is-size-4" id="filter-arrow"></span>
                  <select id="field-filter-mobile" class="sgds-selector dropdown-input">
                  </select>
              </div>
              <div class="pl-3">
                <button type="submit" class="bp-button is-secondary is-medium has-text-white search-button">SEARCH</button>
              </div>
            </div>
          </div>
          </div>
      </div>
  </form>
</div>
<div id="loading-spinner" class="col is-full">
  <div class="lds-default">
      <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
  </div>
</div>
<div class="col is-full content horizontal-scroll datagovsg-table p-0">
  {{- content -}}
</div> 
<div class="search pagination padding--bottom--xl">
  <span class="bx bx-chevrons-left is-size-4"></span>
  <span class="sgds-icon sgds-icon-arrow-left is-size-4 is-hidden-desktop is-hidden-tablet-only"></span>
  {%- comment -%} To insert page selectors {%- endcomment -%}
  <div id="paginator-pages" class="is-hidden-mobile"></div>
  <div id="paginator-pages-mobile" class="is-hidden-desktop is-hidden-tablet-only is-full-width"></div>
  <span class="sgds-icon sgds-icon-arrow-right is-size-4 is-hidden-desktop is-hidden-tablet-only"></span>
  <span class="bx bx-chevrons-right is-size-4"></span>
</div>


<span style="display: none;" id="resourceId">{{- page.datagovsg-id -}}</span>
