{%- comment -%} onclick at body tag is needed for iOS Safari to treat stuff other than <a> tags etc (e.g. div) as clickable {%- endcomment -%}
<footer class="bp-footer top-section" onclick>
    <div class="bp-container ">
        <div class="row">
            <div class="col header padding--top--lg padding--bottom--lg">
                <h5 class="sub-header has-text-white">
                    <b>{{ site.title }}</b>
                </h5>
            </div>
        </div>
        <div class="row is-top">
            {%- if site.data.footer.navlinks -%}
                {%- assign navlinks = site.data.footer.navlinks -%}
            {%- else -%}
                {%- assign navlinks = site.data.navigation.links -%}
            {%- endif -%}
            {%- assign social = site.data.footer.social_media -%}
            {%- comment -%} Set columns for nav links based on social media links {%- endcomment -%}
            {%- assign navClass = "" -%}

            <div class="row col is-multiline is-hidden-tablet-only is-hidden-mobile {{ navClass }}">
                {%- comment -%}
                    Left nav pages (level 2) will all belong to their own collection
                    navigation.yml will simply specify the order of level 1 and level 2 pages (1 level in navigation.yml only)
                    This portion of the code will automatically generate the navbar subitems for level 2 pages based on the content in the level 2 collection
                    For level 3 pages, the first page in the level 3 "collection" will appear in the navbar like other level 2 pages
                    Level 3 pages will also reside in the same collection as other level 2 and 3 pages under the same heading
                    But they will have an additional "third_nav_title" header in their front matter

                    This is done so that new level 2 pages will automatically appear in the navbar without the need for extra configuration in navigation.yml

                    Subitems can still be customized by including the sublinks array
                {%- endcomment -%}
                {%- for navlink in navlinks -%}
                    {%- assign title_downcased = navlink.title | downcase -%}
                    {%- if title_downcased == "contact us" or title_downcased == "faq" -%}
                        {%- continue -%}
                    {%- endif -%}

                    {%- if navlink.collection -%}
                        {%- comment -%} Leftnav page {%- endcomment -%}
                        
                        <div class="col footer-page-links is-one-fifth is-hidden-tablet-only is-hidden-mobile padding--bottom--lg is-left">
                            <p class="sub-header">
                                {%- assign url_input = site[navlink.collection].first.url -%}
                                {%- include functions/external_url.html -%}
                                <b><a {{anchor}} class="has-text-white">{{navlink.title}}</a></b>
                            </p>
                            {%- comment -%} You can't initalize an array in liquid so we have to do this {%- endcomment -%}
                            {% assign third_nav_titles = "" | split: ", " %}
                            {%- for leftnavpage in site[navlink.collection] -%}
                                {%- comment -%} Only show second level pages and the first page in third level pages {%- endcomment -%}
                                {%- if leftnavpage.third_nav_title -%}
                                    {%- unless third_nav_titles contains leftnavpage.third_nav_title -%}
                                        {%- comment -%} This is the first page in this third level nav, display link {%- endcomment -%}
                                        <p class="is-hidden-tablet-only is-hidden-mobile">
                                            {%- assign url_input = leftnavpage.url -%}
                                            {%- include functions/external_url.html -%}
                                            <a {{anchor}}>
                                                {{- leftnavpage.third_nav_title -}}
                                            </a>
                                        </p>
                                        {%- assign third_nav_titles = third_nav_titles | push: leftnavpage.third_nav_title -%}
                                    {%- endunless -%}
                                {%- else -%}
                                    <p class="is-hidden-tablet-only is-hidden-mobile">
                                        {%- assign url_input = leftnavpage.url -%}
                                        {%- include functions/external_url.html -%}
                                        <a {{anchor}}>
                                            {{- leftnavpage.title -}}
                                        </a>
                                    </p>
                                {%- endif -%}
                            {%- endfor -%}
                        </div>
                    {%- elsif navlink.sublinks -%}
                        {%- comment -%} Leftnav page with custom sublinks {%- endcomment -%}
                        <div class="col is-one-fifth is-hidden-tablet-only is-hidden-mobile padding--bottom--lg is-left">
                            {%- assign url_input = navlink.url -%}
                            {%- include functions/external_url.html -%}
                            
                            <p class="sub-header">
                                <b><a {{anchor}} class="has-text-white">
                                    {{- navlink.title -}}
                                </a></b>
                            </p>
                            
                            {%- for sublink in navlink.sublinks -%}                 
                                {%- assign url_input = sublink.url -%}
                                {%- include functions/external_url.html -%}
                                
                                <p class="is-hidden-tablet-only is-hidden-mobile">
                                    <a {{anchor}}>
                                        {{- sublink.title -}}
                                    </a>
                                </p>
                            {%- endfor -%}
                        </div>
                    {%- elsif navlink.resource_room -%}
                        <div class="col is-one-fifth is-hidden-tablet-only is-hidden-mobile padding--bottom--lg is-left">
                            <p class="sub-header">
                                <b><a class="has-text-white" href="/{{site.resources_name}}/">
                                    {{- navlink.title -}}
                                </a></b>
                            </p>
                            {%- unless site.categories.size < 3 -%}
                                {%- comment -%} 
                                    No point displaying the 'all' entry if there is only 1 category
                                    The numbers are all incremented by 1 as the resource room folder itself is counted as 1 category
                                {%- endcomment -%}
                                <p class="is-hidden-tablet-only is-hidden-mobile">
                                    <a href="/{{site.resources_name}}/">
                                        All
                                    </a>
                                </p>
                            {%- endunless -%}
                            {%- comment -%} Sort resource rooms category alphabetically by name {%- endcomment -%}
                            {%- assign categories = "" | split: "," -%}
                            {%- for category in site.categories -%}
                                {%- if category[0] != site.resources_name -%}
                                    {%- assign categories = categories | push: category[0] -%}
                                {%- endif -%}
                            {%- endfor -%}
                            {%- assign categories = categories | sort_natural -%}
                            {%- comment -%} Display navlink for each category {%- endcomment -%}
                            {%- for category in categories -%}
                                <p class="is-hidden-tablet-only is-hidden-mobile">
                                    <a href="/{{site.resources_name}}/{{category}}/">
                                        {%- assign words = category | replace: "-", " " | replace: "_", " " | split: " " -%}
                                        {%- comment -%} Right now words are all in lowercase, and we want to Title Case them {%- endcomment -%}
                                        {%- for word in words -%}
                                            {{- word | capitalize | append: " " -}}
                                        {%- endfor -%}
                                    </a>
                                </p>
                            {%- endfor -%}
                        </div>
                    {%- else -%}
                        {%- comment -%} Single page {%- endcomment -%}
                        
                        <div class="col is-one-fifth is-hidden-tablet-only is-hidden-mobile padding--bottom--lg is-left">
                            {%- assign url_input = navlink.url -%}
                            {%- include functions/external_url.html -%}
                            
                            <p class="sub-header">
                                <b><a {{anchor}} class="has-text-white">
                                    {{- navlink.title -}}
                                </a></b>
                            </p>
                        </div>
                    {%- endif -%}
                {%- endfor -%}
            </div>
        </div>
        {%- comment -%} Social links for desktop {%- endcomment -%}
        <div class="row padding--top--lg is-left-desktop-only is-hidden-tablet-only is-hidden-mobile"  id="social-link-desktop-tablet">
            <div class="col is-flex is-two-thirds padding--top--sm padding--bottom--sm">
                <ul class='footer-link-container'>
                    {%- if site.data.footer.links -%}
                        {%- for link in site.data.footer.links limit:2 -%}
                            {%- if link.url and link.title -%}
                                <li>
                                    {%- assign url_input = link.url -%}
                                    {%- include functions/external_url.html -%}
                                    <p><a {{anchor}}>{{- link.title -}}</a></p>
                                </li>
                            {%- endif -%}
                        {%- endfor -%}
                    {%- endif -%}
                    {%- if site.data.footer.faq -%}
                        <li>
                            {%- assign url_input = site.data.footer.faq -%}
                            {%- include functions/external_url.html -%}
                            <p><a {{anchor}}>FAQ</a></p>
                        </li>
                    {%- endif -%}
                    {%- if site.data.footer.contact_us -%}
                        <li>
                            {%- assign url_input = site.data.footer.contact_us -%}
                            {%- include functions/external_url.html -%}
                            <p><a {{anchor}}>Contact Us</a></p>
                        </li>
                    {%- endif -%}
                    {%- if site.data.footer.feedback -%}
                        <li>
                            {%- assign url_input = site.data.footer.feedback -%}
                            {%- include functions/external_url.html -%}
                            <p><a {{anchor}}>Feedback</a></p>
                        </li>
                    {%- endif -%}
                    {%- if site.data.footer.show_reach -%}
                        <li>
                            {%- assign url_input = "https://www.reach.gov.sg/" -%}
                            {%- include functions/external_url.html -%}
                            <p><a {{anchor}} title="Link to reach.gov.sg">REACH</a></p>
                        </li>
                    {%- endif -%}
                    <li><p><a href="https://www.tech.gov.sg/report_vulnerability/">Report Vulnerability</a></p></li>
                    {%- if site.data.footer.privacy_policy -%}
                        {%- assign url_input = site.data.footer.privacy_policy -%}
                        {%- include functions/external_url.html -%}
                    {%- else -%}
                        {%- assign url_input = "/privacy/" -%}
                        {%- include functions/external_url.html -%}
                    {%- endif -%}
                    <li><p><a {{anchor}}>Privacy Statement</a></p></li>
                    
                    {%- if site.data.footer.terms_of_use -%}
                        {%- assign url_input = site.data.footer.terms_of_use -%}
                        {%- include functions/external_url.html -%}
                    {%- else -%}
                        {%- assign url_input = "/terms-of-use/" -%}
                        {%- include functions/external_url.html -%}
                    {%- endif -%}
                    <li><p><a {{anchor}}>Terms of Use</a></p></li>
                </ul>
            </div>
            {%- if social -%}
                <div class="col social-link-container has-text-right-desktop padding--top--sm padding--bottom--sm is-hidden-tablet-only is-hidden-mobile">
                    {%- if social.facebook -%}
                        {%- assign url_input = social.facebook -%}
                        {%- include functions/external_url.html -%}
                        <a {{anchor}} class="social-link padding--left padding--bottom is-inline-block">
                            <span class="sgds-icon sgds-icon-facebook is-size-4" title="Facebook"></span>
                        </a>
                    {%- endif -%}
                    {%- if social.twitter -%}
                        {%- assign url_input = social.twitter -%}
                        {%- include functions/external_url.html -%}
                        <a {{anchor}} class="social-link padding--left padding--bottom is-inline-block">
                            <span class="sgds-icon sgds-icon-twitter is-size-4" title="Twitter"></span>
                        </a>
                    {%- endif -%}
                    {%- if social.youtube -%}
                        {%- assign url_input = social.youtube -%}
                        {%- include functions/external_url.html -%}
                        <a {{anchor}} class="social-link padding--left padding--bottom is-inline-block">
                            <span class="sgds-icon sgds-icon-youtube is-size-4" title="YouTube"></span>
                        </a>
                    {%- endif -%}
                    {%- if social.instagram -%}
                        {%- assign url_input = social.instagram -%}
                        {%- include functions/external_url.html -%}
                        <a {{anchor}} class="social-link padding--left padding--bottom is-inline-block">
                            <span class="bx bxl-instagram-alt is-size-4" title="Instagram"></span>
                        </a>
                    {%- endif -%}
                    {%- if social.linkedin -%}
                        {%- assign url_input = social.linkedin -%}
                        {%- include functions/external_url.html -%}
                        <a {{anchor}} class="social-link padding--left padding--bottom is-inline-block">
                            <span class="sgds-icon sgds-icon-linkedin is-size-4" title="LinkedIn"></span>
                        </a>
                    {%- endif -%}
                    {%- if social.telegram -%}
                        {%- assign url_input = social.telegram -%}
                        {%- include functions/external_url.html -%}
                        <a {{anchor}} class="social-link padding--left padding--bottom is-inline-block">
                            <span class='bx bxl-telegram' style="font-size:24px" title="Telegram"></span>
                        </a>
                    {%- endif -%}
                    {%- if social.tiktok -%}
                        {%- assign url_input = social.tiktok -%}
                        {%- include functions/external_url.html -%}
                        <a {{anchor}} class="social-link padding--left padding--bottom is-inline-block">
                            <span class='bx bxl-tiktok' style="font-size:24px" title="TikTok"></span>
                        </a>
                    {%- endif -%}
                </div>
            {%- endif -%}
        </div> 

        {%- comment -%} Footer links for mobile and tablet {%- endcomment -%}
        <div class="row">
            <div class="col footer-page-links is-hidden-desktop">
                {%- for navlink in navlinks -%}
                    {%- assign title_downcased = navlink.title | downcase -%}
                    {%- if title_downcased == "contact us" or title_downcased == "faq" -%}
                        {%- continue -%}
                    {%- endif -%}

                    {%- if navlink.collection -%}
                        {%- comment -%} Leftnav page {%- endcomment -%}                        
                            <p>
                                {%- assign url_input = site[navlink.collection].first.url -%}
                                {%- include functions/external_url.html -%}
                                <a {{anchor}}>{{navlink.title}}</a>
                            </p>
                    {%- elsif navlink.sublinks -%}
                        {%- comment -%} Leftnav page with custom sublinks {%- endcomment -%}
                        {%- assign url_input = navlink.url -%}
                        {%- include functions/external_url.html -%}
                        <p>
                            <a {{anchor}}>
                                {{- navlink.title -}}
                            </a>
                        </p>
                    {%- elsif navlink.resource_room -%}
                            <p>
                                <a href="/{{site.resources_name}}/">
                                    {{- navlink.title -}}
                                </a>
                            </p>
                    {%- else -%}
                        {%- comment -%} Single page {%- endcomment -%}
                        {%- assign url_input = navlink.url -%}
                        {%- include functions/external_url.html -%}
                        <p>
                            <a {{anchor}}>
                                {{- navlink.title -}}
                            </a>
                        </p>
                    {%- endif -%}
                {%- endfor -%}
            </div>
        </div>
        <div class="row is-hidden-desktop is-vcentered">
            <div class="col padding--top--md padding--bottom--md">
                <div class="col divider padding--top--none padding--bottom--none"></div>
            </div>
        </div>
        <div class="row">
            <div class="col is-hidden-desktop is-two-thirds padding--top--sm padding--bottom--sm">
                    {%- if site.data.footer.links -%}
                        {%- for link in site.data.footer.links limit:2 -%}
                            {%- if link.url and link.title -%}
                                    {%- assign url_input = link.url -%}
                                    {%- include functions/external_url.html -%}
                                    <p><a {{anchor}}>{{- link.title -}}</a></p>
                            {%- endif -%}
                        {%- endfor -%}
                    {%- endif -%}
                    {%- if site.data.footer.faq -%}
                            {%- assign url_input = site.data.footer.faq -%}
                            {%- include functions/external_url.html -%}
                            <p><a {{anchor}}>FAQ</a></p>
                    {%- endif -%}
                    {%- if site.data.footer.contact_us -%}
                            {%- assign url_input = site.data.footer.contact_us -%}
                            {%- include functions/external_url.html -%}
                            <p><a {{anchor}}>Contact Us</a></p>
                    {%- endif -%}
                    {%- if site.data.footer.feedback -%}
                            {%- assign url_input = site.data.footer.feedback -%}
                            {%- include functions/external_url.html -%}
                            <p><a {{anchor}}>Feedback</a></p>
                    {%- endif -%}
                    {%- if site.data.footer.show_reach -%}
                            {%- assign url_input = "https://www.reach.gov.sg/" -%}
                            {%- include functions/external_url.html -%}
                            <p><a {{anchor}} title="Link to reach.gov.sg">REACH</a></p>
                    {%- endif -%}
                    <p><a href="https://www.tech.gov.sg/report_vulnerability/">Report Vulnerability</a></p>
                    {%- if site.data.footer.privacy_policy -%}
                        {%- assign url_input = site.data.footer.privacy_policy -%}
                        {%- include functions/external_url.html -%}
                    {%- else -%}
                        {%- assign url_input = "/privacy/" -%}
                        {%- include functions/external_url.html -%}
                    {%- endif -%}
                    <p><a {{anchor}}>Privacy Statement</a></p>
                    
                    {%- if site.data.footer.terms_of_use -%}
                        {%- assign url_input = site.data.footer.terms_of_use -%}
                        {%- include functions/external_url.html -%}
                    {%- else -%}
                        {%- assign url_input = "/terms-of-use/" -%}
                        {%- include functions/external_url.html -%}
                    {%- endif -%}
                    <p><a {{anchor}}>Terms of Use</a></p>
            </div>
        </div>
        <div class="row">
            <div class="col social-link-container is-hidden-desktop padding--top--lg padding--bottom--none">
                {%- if social.facebook -%}
                    {%- assign url_input = social.facebook -%}
                    {%- include functions/external_url.html -%}
                    <a {{anchor}} class="social-link padding--right" title="Facebook">
                        <span class="sgds-icon sgds-icon-facebook is-size-4"></span>
                    </a>
                {%- endif -%}

                {%- if social.twitter -%}
                    {%- assign url_input = social.twitter -%}
                    {%- include functions/external_url.html -%}
                    <a {{anchor}} class="social-link padding--right" title="Twitter">
                        <span class="sgds-icon sgds-icon-twitter is-size-4"></span>
                    </a>
                {%- endif -%}

                {%- if social.youtube -%}
                    {%- assign url_input = social.youtube -%}
                    {%- include functions/external_url.html -%}
                    <a {{anchor}} class="social-link padding--right" title="YouTube">
                        <span class="sgds-icon sgds-icon-youtube is-size-4"></span>
                    </a>
                {%- endif -%}

                {%- if social.instagram -%}
                    {%- assign url_input = social.instagram -%}
                    {%- include functions/external_url.html -%}
                    <a {{anchor}} class="social-link padding--right" title="Instagram">
                        <span class="bx bxl-instagram-alt is-size-4"></span>
                    </a>
                {%- endif -%}

                {%- if social.linkedin -%}
                    {%- assign url_input = social.linkedin -%}
                    {%- include functions/external_url.html -%}
                    <a {{anchor}} class="social-link padding--right" title="LinkedIn">
                        <span class="sgds-icon sgds-icon-linkedin is-size-4"></span>
                    </a>
                {%- endif -%}

                {%- if social.telegram -%}
                    {%- assign url_input = social.telegram -%}
                    {%- include functions/external_url.html -%}
                    <a {{anchor}} class="social-link padding--right">
                        <span class='bx bxl-telegram' style="font-size:24px" title="Telegram"></span>
                    </a>
                {%- endif -%}

                {%- if social.tiktok -%}
                    {%- assign url_input = social.tiktok -%}
                    {%- include functions/external_url.html -%}
                    <a {{anchor}} class="social-link padding--right">
                        <span class='bx bxl-tiktok' style="font-size:24px" title="TikTok"></span>
                    </a>
                {%- endif -%}
            </div>
        </div>
    </div>
</footer>

{%- comment -%} onclick at body tag is needed for iOS Safari to treat stuff other than <a> tags etc (e.g. div) as clickable {%- endcomment -%}
<footer class="bp-footer bottom-section" onclick>
    <div class="bp-container">
        <div class="row is-vcentered">
            <div class="col padding--top--md padding--bottom--md">
                <div class="col divider padding--top--none padding--bottom--none"></div>
            </div>
        </div>
        <div class="row is-vcentered">
            <div class="col has-text-left-desktop has-text-left-tablet has-text-left-mobile">
                <ul>
                    <li>
                        <p class="footer-credits">
                            {%- assign url_input = "https://www.isomer.gov.sg/" -%}
                            {%- include functions/external_url.html -%}
                            <a {{anchor}}>Created with <img src="/assets/img/isomer_logo.svg" alt="Isomer Logo"></a>
                        </p>
                    </li>
                    <li>
                        <p class="footer-credits">
                            {%- assign url_input = "https://www.open.gov.sg/" -%}
                            {%- include functions/external_url.html -%}
                            <a {{anchor}}>Built by <img src="/assets/img/ogp_logo.svg" alt="Open Government Products Logo"></a>
                        </p>
                    </li>
                </ul>
            </div>
            <div class="col has-text-right-desktop is-hidden-mobile is-hidden-tablet-only">
                <p class="footer-credits">
                    &copy; {{ site.time | date: "%Y" -}}
                    {%- if site.data.footer.copyright_agency %}
                        {{ site.data.footer.copyright_agency -}}
                    {%- else %}
                        {{ site.title -}}
                    {%- endif -%}
                    , Last Updated {{site.time | date_to_string -}}
                </p>
            </div>
        </div>
        <div class="row is-vcentered padding--top--sm">
            <div class="col is-hidden-desktop">
                <p class="footer-credits">
                    &copy; {{ site.time | date: "%Y" -}}
                    {%- if site.data.footer.copyright_agency %}
                        {{ site.data.footer.copyright_agency -}}
                    {%- else %}
                        {{ site.title -}}
                    {%- endif -%}
                    , <br class="tablet-no-break">Last Updated {{site.time | date_to_string -}}
                </p>
            </div>
        </div>
    </div>
</footer>

{%- include main_scripts.html -%}
