<nav class="sgds-breadcrumb" aria-label="breadcrumbs">
    <ul>
        <li><a href="/"><small>HOME</small></a></li>
        {%- if page.collection and page.collection != "posts" -%}
            {%- comment -%} Special breadcrumb case for leftnav pages {%- endcomment -%}
            
            {%- comment -%} Print collection name {%- endcomment -%}
            <li><a href="{{- site[page.collection].first.url -}}"><small>{{ page.collection | replace: "-", " " | replace: "_", " " | truncatewords: 7 | upcase }}</small></a></li>

            {%- if page.third_nav_title -%}
                {%- for collection_doc in site[page.collection] -%}
                    {%- if collection_doc.third_nav_title == page.third_nav_title -%}
                        <li><a href="{{- collection_doc.url -}}"><small>{{ page.third_nav_title | truncatewords: 7 | upcase }}</small></a></li>
                        {%- break -%}
                    {%- endif -%}
                {%- endfor -%}
            {%- endif -%}

            {%- if page.breadcrumb -%}
                <li><a href="{{- page.url -}}"><small>{{ page.breadcrumb | upcase }}</small></a></li>
            {%- elsif page.title -%}
                <li><a href="{{- page.url -}}"><small>{{ page.title | truncatewords: 7 | upcase }}</small></a></li>
            {%- elsif page.layout == "contact_us" -%}
                <li><a href="{{- page.url -}}"><small>CONTACT US</small></a></li>
            {%- endif -%}
        {%- else -%}
            {%- assign splitted_url_parts = page.url | split: '/' -%}
            {%- assign forLoopMaxInt = splitted_url_parts.size | minus:1 -%}
            {%- for i in (1..forLoopMaxInt) -%}
                {%- capture current_breadcrumb_md_url -%}{{next_prepender}}/{{- splitted_url_parts[i] -}}/{%- endcapture -%}
                {%- capture next_prepender -%}{{next_prepender}}/{{- splitted_url_parts[i] -}}{%- endcapture -%}
                {%- assign not_found = true -%}

                {%- if not_found -%}
                    {%- for breadcrumb_page in site.pages -%}
                        {%- assign page_url_with_slash = breadcrumb_page.url | append: '/' -%}
                        {%- if current_breadcrumb_md_url == breadcrumb_page.url or current_breadcrumb_md_url == page_url_with_slash -%}
                            {%- if breadcrumb_page.breadcrumb -%}
                                <li><a href="{{ breadcrumb_page.url }}"><small>{{ breadcrumb_page.breadcrumb | upcase }}</small></a></li>
                            {%- elsif breadcrumb_page.title -%}
                                <li><a href="{{ breadcrumb_page.url }}"><small>{{ breadcrumb_page.title | truncatewords: 7 | upcase }}</small></a></li>
                            {%- elsif page.layout == "contact_us" -%}
                                <li><a href="{{- page.url -}}"><small>CONTACT US</small></a></li>
                            {%- endif -%}

                            {%- assign not_found = false -%}
                            {%- break -%}
                        {%- endif -%}
                    {%- endfor -%}
                {%- endif -%}

                {%- if not_found -%}
                    {%- for breadcrumb_page in site.posts -%}
                        {%- assign page_url_with_slash = breadcrumb_page.url | append: '/' -%}
                        {%- if current_breadcrumb_md_url == breadcrumb_page.url or current_breadcrumb_md_url == page_url_with_slash -%}
                            {%- if breadcrumb_page.breadcrumb -%}
                                <li><a href="{{ breadcrumb_page.url }}"><small>{{ breadcrumb_page.breadcrumb | upcase }}</small></a></li>
                            {%- elsif breadcrumb_page.title -%}
                                <li><a href="{{ breadcrumb_page.url }}"><small>{{ breadcrumb_page.title | truncatewords: 7 | upcase }}</small></a></li>
                            {%- elsif page.layout == "contact_us" -%}
                                <li><a href="{{- page.url -}}"><small>CONTACT US</small></a></li>
                            {%- endif -%}

                            {%- assign not_found = false -%}
                            {%- break -%}
                        {%- endif -%}
                    {%- endfor -%}
                {%- endif -%}

                {%- if not_found -%}
                    {%- for collection in site.collection -%}
                        {%- for breadcrumb_page in collection.doc -%}
                            {%- assign page_url_with_slash = breadcrumb_page.url | append: '/' -%}
                            {%- if current_breadcrumb_md_url == breadcrumb_page.url or current_breadcrumb_md_url == page_url_with_slash -%}
                                {%- if breadcrumb_page.breadcrumb -%}
                                    <li><a href="{{ breadcrumb_page.url }}"><small>{{ breadcrumb_page.breadcrumb | upcase }}</small></a></li>
                                {%- elsif breadcrumb_page.title -%}
                                    <li><a href="{{ breadcrumb_page.url }}"><small>{{ breadcrumb_page.title | truncatewords: 7 | upcase }}</small></a></li>
                                {%- elsif page.layout == "contact_us" -%}
                                    <li><a href="{{- page.url -}}"><small>CONTACT US</small></a></li>
                                {%- endif -%}

                                {%- assign not_found = false -%}
                                {%- break -%}
                            {%- endif -%}
                        {%- endfor -%}
                    {%- endfor -%}
                {%- endif -%}
            {%- endfor -%}
        {%- endif -%}
    </ul>
</nav>
