<head>
    {%- include google-tag-manager.html -%}
    <meta charset="utf8">
    <meta name="viewport"
          content="width=device-width, user-scalable=yes, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="twitter:card" content="summary_large_image">
    {%- if page.title -%}
        <meta property="og:title" content="{{- page.title | markdownify | normalize_whitespace | strip_html | strip_newlines | normalize_whitespace | truncatewords: 25 -}}">
    {%- elsif page.layout == "contact_us" -%}
        <meta property="og:title" content="Contact Us">
    {%- endif -%}
    {%- comment -%} If page contains a description in the YML header of the markdown file, use the page description. Otherwise, take an excerpt of its markdown content {%- endcomment -%}
    <meta property="og:description" content="
        {%- if page.description -%}
            {{- page.description | markdownify | normalize_whitespace | strip_html | strip_newlines | normalize_whitespace | truncatewords: 20 -}}
        {%- else -%}
            {{- page.content | markdownify | normalize_whitespace | strip_html | strip_newlines | normalize_whitespace | truncatewords: 20 -}}
        {%- endif -%}">
    <meta name="Description" CONTENT="
        {%- if page.description -%}
            {{- page.description | markdownify | normalize_whitespace | strip_html | strip_newlines | normalize_whitespace | truncatewords: 20 -}}
        {%- else -%}
            {{- page.content | markdownify | normalize_whitespace | strip_html | strip_newlines | normalize_whitespace | truncatewords: 20 -}}
        {%- endif -%}">
    <meta property="og:image" content="
    {%- if page.image -%}
        {{- page.image | absolute_url -}}
    {%- elsif site.shareicon -%}
        {{- site.shareicon | absolute_url -}}
    {%- else -%}
        {{- site.data.navigation.logo | absolute_url -}}
    {%- endif -%}">
    <meta property="og:url" content="{{- page.url | absolute_url -}}">
    <link rel="canonical" href="{{- page.url | absolute_url -}}" />

    {%- if site.favicon -%}
        <link rel="shortcut icon" href="{{- site.baseurl- }}{{- site.favicon -}}" type="image/x-icon">
    {%- else -%}
        <link rel="shortcut icon" href="{{- site.baseurl -}}/assets/img/favicon.ico" type="image/x-icon">
    {%- endif -%}

    <link rel="stylesheet" href="{{- site.baseurl -}}/assets/css/styles.css">
    <link rel="stylesheet" href="{{- site.baseurl -}}/assets/css/blueprint.css">
    <link rel="stylesheet" href="{{- site.baseurl -}}/assets/css/variables.css">
    <link rel="stylesheet" href="{{- site.baseurl -}}{{- site.custom_css_path -}}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,600" crossorigin="anonymous">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    {%- if site.vica -%}
        <link
            href="https://webchat.vica.gov.sg/static/css/chat.css"
            rel="stylesheet"
            referrerpolicy="origin"
        />
    {%- endif -%}
    {%- feed_meta -%}

    {%- include wogaa_scripts.html -%}
    {%- if site.facebook-pixel and site.facebook-pixel != "" -%}
        <script src="{{- "assets/js/facebook-pixel.js" | relative_url -}}" crossorigin="anonymous"></script>
        <noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id={{- site.facebook-pixel -}}&ev=PageView&noscript=1"/></noscript>
    {%- endif -%}
    {%- if site.linkedin-insights and site.linkedin-insights != "" -%}
        <script src="{{- "assets/js/linkedin-insights.js" | relative_url -}}" crossorigin="anonymous"></script>
        <noscript><img height="1" width="1" style="display:none" src="https://px.ads.linkedin.com/collect/?pid={{- site.linkedin-insights -}}&fmt=gif" /></noscript>
    {%- endif -%}
    {%- if site.google-tag-manager and site.google-tag-manager != "" -%}
        <script src="{{- "assets/js/google-tag-manager.js" | relative_url -}}" crossorigin="anonymous"></script>
    {%- endif -%}
    <title>
        {%- if page.title -%}
            {{- page.title | markdownify | normalize_whitespace | strip_html | strip_newlines | normalize_whitespace | truncatewords: 25 -}}
        {%- elsif page.layout == "contact_us" -%}
            Contact Us
        {%- endif -%}
    </title>
</head>
