{%- comment -%} DYN {%- endcomment -%}
<script src=https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/7.8.3/polyfill.min.js></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" integrity="sha256-0rguYS0qgS6L4qVzANq4kjxPLtvnp5nn2nB5G1lWRv4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js" integrity="sha384-LVoNJ6yst/aLxKvxwp6s2GAabqPczfWh6xzm38S/YtjUyZ+3aTKOnD/OJVGYLZDl" crossorigin="anonymous"></script>
{%- comment -%} Carousel {%- endcomment -%}
{%- if page.layout == "homepage" and page.sections -%}
  {%- for section in page.sections -%}
    {%- if section.carousel -%}
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css" integrity="sha256-fDncdclXlALqR3HOO34OGHxek91q8ApmD3gGldM+Rng=" crossorigin="anonymous">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.theme.min.css" integrity="sha256-2DoaRRHfHWna6mpfGImxAx/cu0vFGpqEkcf/YXf+yk4=" crossorigin="anonymous">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha256-pTxD+DSzIwmwhOqTFN+DB+nHjO4iAsbgfyFq5K5bcE0=" crossorigin="anonymous"></script>
      {%- break -%}
    {%- endif -%}
  {%- endfor -%}
{%- endif -%}

<script src="{{- "/assets/js/accordion.js" | relative_url -}}" crossorigin="anonymous"></script>
<script src="{{- "/assets/js/sideNav-offset.js" | relative_url -}}" crossorigin="anonymous"></script>
<script src="{{- "/assets/js/jquery.resize-sensor.js" | relative_url -}}" crossorigin="anonymous"></script>
<script src="{{- "/assets/js/jquery.sticky-sidebar.js" | relative_url -}}" crossorigin="anonymous"></script>
<script src="{{- "/assets/js/common.js" | relative_url -}}" crossorigin="anonymous"></script>
<script src="/assets/js/masthead-content-dropdown.js" crossorigin="anonymous"></script>
{%- if page.url == "/" -%}
<script src="{{- "/assets/js/home.js" | relative_url -}}" crossorigin="anonymous"></script>
<script src="{{- "/assets/js/cancel-notification.js" | relative_url -}}" crossorigin="anonymous"></script>
{%- endif -%}

{%- if page.layout == 'our-team' -%}
<script src="{{- "/assets/js/our-team.js" | relative_url -}}" crossorigin="anonymous"></script>
<script src="{{- "/assets/js/accordion.js" | relative_url -}}" crossorigin="anonymous"></script>
{%- endif -%}


{%- if page.layout == 'search' -%}
<script src="https://unpkg.com/lunr@2.3.6/lunr.js" integrity="sha384-WYZhYwlpZbtVuVpKReDUDRhoKr0MubxAfgcS0k8y5lprnl0i482oHTKTBeWTbcaz" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/1.0.11/purify.min.js" integrity="sha384-ELH09WGRUcBpRT6iHTekFB2YBCT9kFMsKG4Y9LUAevHjihu8Otri8Sm01QgXOTht" crossorigin="anonymous"></script>
<script src="{{- "/assets/posts.js" | relative_url -}}"></script>
<script src="{{- "/assets/js/worker.js" | relative_url -}}" crossorigin="anonymous"></script>
<script src="{{- "/assets/js/pagination-util.js" | relative_url -}}" crossorigin="anonymous"></script>
<script src="{{- "/assets/js/search.js" | relative_url -}}" crossorigin="anonymous"></script>
<script src="{{- "/assets/js/build-index.js" | relative_url -}}" crossorigin="anonymous"></script>
{%- endif -%}

{%- if page.layout == 'datagovsg-search' -%}
<script src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/1.0.11/purify.min.js" integrity="sha384-ELH09WGRUcBpRT6iHTekFB2YBCT9kFMsKG4Y9LUAevHjihu8Otri8Sm01QgXOTht" crossorigin="anonymous"></script>
<script src="{{- "/assets/js/pagination-util.js" | relative_url -}}" crossorigin="anonymous"></script>
<script src="{{- "/assets/js/search.js" | relative_url -}}" crossorigin="anonymous"></script>
<script src="{{- "/assets/js/datagovsg-search.js" | relative_url -}}" crossorigin="anonymous"></script>
{%- endif -%}

{%- if page.layout == 'resources-alt' or page.layout == 'resources' -%}
<script src="{{- "/assets/js/pagination-util.js" | relative_url -}}" crossorigin="anonymous"></script>
<script src="{{- "/assets/js/paginate-resources.js" | relative_url -}}" crossorigin="anonymous"></script>
{%- endif -%}

{%- if page.layout == 'page' or page.layout == 'our-team' or page.layout == 'our-journey' or page.layout == 'post' -%}
<script src="https://printjs-4de6.kxcdn.com/print.min.js" crossorigin="anonymous"></script>
<script src="{{- "/assets/js/floating-buttons.js" | relative_url -}}" crossorigin="anonymous"></script>
<script src="{{- "/assets/js/left-nav-interaction.js" | relative_url -}}" crossorigin="anonymous"></script>
<script src="https://www.instagram.com/static/bundles/es6/EmbedSDK.js/ab12745d93c5.js" integrity="sha384-uCmurhfuSbKidtlFxpgv2j4yIWVfYbrJaFrj62TR3NpFp+msiMilcvgz0gsDY2Yj" crossorigin="anonymous"></script>
  {%- if site.recommender == true -%}
  <script src="{{- "/assets/js/recommender.js" | relative_url -}}" crossorigin="anonymous"></script>
  {%- endif -%}
{%- endif -%}

{%- include chatbot-scripts.html -%}

{%- comment -%} Google Analytics {%- endcomment -%}
<script src="{{- site.baseurl -}}/assets/js/google_analytics.js"></script>
<script async src="https://www.google-analytics.com/analytics.js"></script>
<script async src="{{- site.baseurl -}}/assets/js/autotrack.js"></script>
