<!-- DYN -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js"></script>

<script src="{{ "/assets/js/sideNav-offset.js" | relative_url }}"></script>
<script src="{{ "/assets/js/jquery.resize-sensor.js" | relative_url }}"></script>
<script src="{{ "/assets/js/jquery.sticky-sidebar.js" | relative_url }}"></script>
<script src="{{ "/assets/js/common.js" | relative_url }}"></script>
{% if page.url == "/" %}
<script src="{{ "/assets/js/home.js" | relative_url }}"></script>
<script src="{{ "/assets/js/cancel-notification.js" | relative_url }}"></script>
{% endif %}

{% if page.layout == 'our-journey' %}
<script src="{{ "/assets/js/accordion.js" | relative_url }}"></script>
{% endif %}

{% if page.layout == 'our-team' %}
<script src="{{ "/assets/js/our-team.js" | relative_url }}"></script>
<script src="{{ "/assets/js/accordion.js" | relative_url }}"></script>
{% endif %}

{% if page.layout == 'search' %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/1.0.4/purify.min.js"></script>
<script src="{{ "/assets/posts.json" | relative_url }}"></script>
<script src="https://unpkg.com/lunr/lunr.js"></script>
<script src="{{ "/assets/js/worker.js" | relative_url }}"></script>
<script src="{{ "/assets/js/pagination-util.js" | relative_url }}"></script>
<script src="{{ "/assets/js/search.js" | relative_url }}"></script>
<script src="{{ "/assets/js/build-index.js" | relative_url }}"></script>
{% endif %}

{% if page.layout == 'datagovsg-search' %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/1.0.4/purify.min.js"></script>
<script src="{{ "/assets/js/pagination-util.js" | relative_url }}"></script>
<script src="{{ "/assets/js/datagovsg-search.js" | relative_url }}"></script>
{% endif %}

{% if page.layout == 'resources-alt' or page.layout == 'resources' %}
<script src="{{ "/assets/js/pagination-util.js" | relative_url }}"></script>
<script src="{{ "/assets/js/paginate-resources.js" | relative_url }}"></script>
{% endif %}

{% if page.layout == 'post' or page.layout == 'simple-page' or page.layout == 'leftnav-page-content' or page.layout == 'our-team' or page.layout == 'our-journey' %}
<script src="https://printjs-4de6.kxcdn.com/print.min.js"></script>
<script src="{{ "/assets/js/floating-buttons.js" | relative_url }}"></script>
<script src="{{ "/assets/js/left-nav-interaction.js" | relative_url }}"></script>
{% endif %}