<div class="col is-1 has-float-btns is-position-relative is-hidden-touch">
    <div class="float-buttons">
        <div class="actionbar__inner">
            <button class="bp-button" id="print-button" aria-label="Print">
              <i 
              class="sgds-icon sgds-icon-print is-size-4">
              </i>
            </button>
        </div>
        <div class="actionbar__inner padding--top--sm">
            <button class="bp-button" id="copy-link" aria-label="Copy Link">
              <i 
              class="sgds-icon sgds-icon-link is-size-4">
              </i>
            </button>
            <input id="page-url" type="text" class="hide" value="{{page.url|absolute_url}}">
            {%- comment -%} The only cross-browser compatible way to copy the current page url into a clipboard is to store it in a hidden input box {%- endcomment -%}
        </div>
    </div>
</div>

<script src="{{- "/assets/js/print.js" | relative_url -}}"></script>
