<div class="col is-1 has-float-btns is-position-relative is-hidden-touch">
    <div class="float-buttons">
        <div class="actionbar__inner">
            <i 
              class="sgds-icon sgds-icon-print is-size-4"
              onclick="printContent()">
            </i>
        </div>
        <div id="copy-link" class="actionbar__inner padding--top">
            <i 
              class="sgds-icon sgds-icon-link is-size-4"">
            </i>
            <input id="page-url" type="text" class="hide" value="{{page.url|absolute_url}}">
            <!-- The only cross-browser compatible way to copy the current page url into a clipboard is to store it in a hidden input box -->
        </div>
    </div>
</div>

<script>
  var url = [
    "{{site.baseurl}}{{site.custom_print_css_path}}",
    "https://datagovsg.github.io/blueprint-css/blueprint.css"
  ]

  function printContent() {
    printJS({
     printable: 'main-content',
     type: 'html',
     css: url,
     scanStyles: false,
     font: 'Source Sans Pro',
    });
  }
</script>