<div class="col is-1 has-float-btns is-position-relative is-hidden-touch">
    <div class="float-buttons">
        <div class="actionbar__inner">
            <button class="sgds-button" id="print-button">
              <i 
              class="sgds-icon sgds-icon-print is-size-7">
              </i>
            </button>
        </div>
        <div class="actionbar__inner padding--top--sm">
            <button class="sgds-button" id="copy-link">
              <i 
              class="sgds-icon sgds-icon-link is-size-7">
              </i>
            </button>
            <input id="page-url" type="text" class="hide" value="{{page.url|absolute_url}}">
            {%- comment -%} The only cross-browser compatible way to copy the current page url into a clipboard is to store it in a hidden input box {%- endcomment -%}
        </div>
        <div class="actionbar__inner padding--top--sm">
            <a class="sgds-button" href="mailto:?Subject={{page.title}}&amp;Body= {{page.url|absolute_url}}">
                <i class="sgds-icon sgds-icon-mail is-size-7"></i>
            </a>
        </div>
        <div class="actionbar__inner padding--top--sm">
            <a href="http://www.facebook.com/sharer.php?u={{page.url|absolute_url|escape}}" class="sgds-button" target="_blank">
                <i class="sgds-icon sgds-icon-facebook-alt is-size-7"></i>
            </a>
        </div>
        <div class="actionbar__inner padding--top--sm">
            <a href="https://www.linkedin.com/sharing/share-offsite/?url={{page.url|absolute_url|escape}}&title={{page.title}}" class="sgds-button" target="_blank">
              <i class="sgds-icon sgds-icon-linkedin-alt is-size-7"></i>
            </a>
        </div>
    </div>
</div>

<script src="{{- "/assets/js/print.js" | relative_url -}}"></script>