
{%- comment -%} onclick at body tag is needed for iOS Safari to treat stuff other than <a> tags etc (e.g. div) as clickable {%- endcomment -%}
<div class="masthead-container" id="navbar" onclick>
{%- include sgds-masthead.html -%}
    <nav class="navbar">
        <div class="sgds-container">

        {%- assign homepage = site.data.homepage -%}

        <div class="navbar-brand">
            <a class="navbar-item" href="{{- site.baseurl -}}/">
                <img src="{{- site.baseurl -}}{{- homepage.agency-logo -}}" alt="Homepage" style="max-height:75px;max-width:200px;height:auto;width:auto;">
            </a>
            <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div id="navbarExampleTransparentExample" class="sgds-container is-fluid margin--none navbar-menu">
            <div class="navbar-start">
                <div class="navbar-item is-hidden-widescreen is-search-bar">
                    <form action="{{- site.baseurl -}}/search/" method="get">
                        <div class="field has-addons">
                            <div class="control has-icons-left is-expanded">
                                <input class="input is-fullwidth" id="search-box-mobile" type="text" placeholder="What are you looking for?" name="query">
                                <span class="icon is-left">
                                  <i class="sgds-icon sgds-icon-search search-bar"></i>
                                </span>

                            </div>
                        </div>
                    </form>
                </div>
    {%- comment -%}             {%- assign links = site.data.navigation -%}

                {%- for link in links -%}
                    {%- assign class = nil -%}
                    {%- if page.url contains link.url -%}
                        {%- assign class = 'is-active' -%}
                    {%- endif -%}

                        <a class="navbar-item {{class}}" href="{{link.url}}" target="{{link.target}}">
                            {{- link.title -}}
                        </a>
                        <div class="selector {{ class }} is-hidden-touch"></div>


                {%- endfor -%}
            </div> {%- endcomment -%}

                {%- assign links = site.data.navigation -%}
                {%- for link in links -%}
                    {%- include links-baseurl.html -%}
                    {%- comment -%} Generates base-url based on whether the link is internal or external {%- endcomment -%}

                    {%- assign class = nil -%}
                    {%- if page.url == link.url -%}
                        {%- assign class = 'is-active' -%}
                    {%- endif -%}
                    {%- if link.sub-links -%}
                    <div class="navbar-item has-dropdown is-hoverable">
                        {%- if base-url == "" -%}
                            {%- if link.external == true -%}
                            <a class="navbar-link is-uppercase {{class}}" href="{{- base-url -}}{{- link.url -}}" target="_blank" rel="noreferrer">
                            {{- link.title -}}
                            </a>
                            {%- else -%}
                            <a class="navbar-link is-uppercase {{class}}" href="{{- base-url -}}{{- link.url -}}">
                            {{- link.title -}}
                            </a>  
                            {%- endif -%}
                        {%- else -%}
                        <a class="navbar-link is-uppercase {{class}}" href="{{- base-url -}}{{- link.url -}}">
                            {{- link.title -}}
                        </a>
                        {%- endif -%}
                        <div class="navbar-dropdown">
                            {%- for sublink in link.sub-links -%}
                                {%- include sublinks-baseurl.html -%}
                                    {%- if page.url == sublink.url -%}
                                        {%- assign class = 'is-active' -%}
                                        {%- if sublink-base-url == "" -%}
                                            {%- if sublink.external == true -%}
                                            <a class="navbar-item sub-link is-active" href="{{- sublink-base-url -}}{{- sublink.url -}}" target="_blank" rel="noreferrer">
                                                {{- sublink.title -}}
                                            </a>
                                            {%- else -%}
                                            <a class="navbar-item sub-link is-active" href="{{- sublink-base-url -}}{{- sublink.url -}}">
                                                {{- sublink.title -}}
                                            </a>
                                            {%- endif -%}
                                        {%- else -%}
                                        <a class="navbar-item sub-link is-active" href="{{- sublink-base-url -}}{{- sublink.url -}}">
                                            {{- sublink.title -}}
                                        </a>
                                        {%- endif -%}

                                    {%- else -%}
                                        {%- if sublink-base-url == "" -%}
                                            {%- if sublink.external == true -%}
                                            <a class="navbar-item sub-link " href="{{- sublink-base-url -}}{{- sublink.url -}}" target="_blank" rel="noreferrer">
                                                {{- sublink.title -}}
                                            </a>
                                            {%- else -%}
                                            <a class="navbar-item sub-link " href="{{- sublink-base-url -}}{{- sublink.url -}}">
                                                {{- sublink.title -}}
                                            </a>
                                            {%- endif -%}
                                        {%- else -%}
                                        <a class="navbar-item sub-link" href="{{- sublink-base-url -}}{{- sublink.url -}}">
                                            {{- sublink.title -}}
                                        </a>
                                        {%- endif -%}
                                    {%- endif -%}
                            {%- endfor -%}
                        </div>
<!--                        <div class="selector {{class}} is-hidden-touch is-hidden-desktop-only"></div>-->
                    </div>
                    {%- else -%}

                        {%- if base-url == "" -%}
                            {%- if link.external == true -%}
                            <a href="{{- base-url -}}{{- link.url -}}" target="_blank" class="navbar-item is-uppercase {{class}}" rel="noreferrer">{{- link.title -}}</a>
                            {%- else -%}
                            <a href="{{- base-url -}}{{- link.url -}}" class="navbar-item is-uppercase {{class}}">{{- link.title -}}</a>
                            {%- endif -%}
                        {%- else -%}
                        <a href="{{- base-url -}}{{- link.url -}}" class="navbar-item is-uppercase {{class}}">{{- link.title -}}</a>
                        {%- endif -%}


                    {%- endif -%}
                {%- endfor -%}
            </div>

            <div class="navbar-end is-hidden-touch is-hidden-desktop-only">
                <div class="navbar-item">
                    {%- if page.layout != 'search' -%}
                    <a class="sgds-button is-text is-large" style="text-decoration: none" id="search-activate">
                        <span class="sgds-icon sgds-icon-search is-size-7"></span>
                    </a>
                    {%- else -%}
                    <a class="sgds-button is-text is-large" style="text-decoration: none; pointer-events: none;" id="search-activate" disabled></a>
                    {%- endif -%}
                </div>
            </div>
        </div>
    </nav>
    <div class="sgds-container hide is-hidden-touch is-hidden-desktop-only search-bar" id="search-bar">
        <div class="row">
            <div class="col">
                <hr class="margin--bottom--sm">
                <form action="{{- site.baseurl -}}/search/" method="get">
                  <div class="field has-addons padding--sm">
                      <div class="control has-icons-left is-expanded padding--bottom--sm">
                          <input class="input is-fullwidth is-borderless is-shadowless" id="search-box" type="text" placeholder="What are you looking for?" name="query" autocomplete="off">
                          <span class="icon is-left">
                            <i class="sgds-icon sgds-icon-search is-size-7 search-bar"></i>
                          </span>

                      </div>
                      <div class="control">
                          <button type="submit" class="sgds-button is-primary has-text-white padding--left padding--right">SEARCH</button>
                      </div>
                  </div>
                </form>
            </div>
        </div>
    </div>
</div>
