---
---
@charset "utf-8";
@import "../../do-not-touch/theme-colors/custom.css";
.sgds-section .sgds-container .has-side-nav,
.sgds-section .sgds-container .has-float-btns,
.sgds-section.bottom-navigation {
 display: none;
}
.sgds-section .sgds-container .print-content {
 margin-left: 0px;
 width: 100%;
}

@media print {
  section.sgds-section.is-small.sgds-section-pagetitle {
    background: none !important;
    
    a small, .has-text-white {
      color: black !important;
    }
  }

  section.sgds-section.bg-secondary {
  	background: none !important;

  	a small, .has-text-white {
  		color: black !important;
  	}
  }
}
