---
---

// Declare variables that you need from _config.yml here
// Agency brand colors
$primary-color: {{- site.colors.primary-color -}};
$secondary-color: {{- site.colors.secondary-color -}};
$secondary-color-hover: lighten($secondary-color, 10%);

// Minimum width before a media query is triggered
$breakpoints: (
  "": 0px,
  sm: 431px,
  md: 770px,
  lg: 1024px,
  xl: 1280px,
  xxl: 1408px,
);

@import "helpers";
