---
---

$primary: {{- site.colors.primary-color -}};
$secondary: {{- site.colors.secondary-color -}};
$secondary-hover: lighten($secondary, 10%);

.has-text-secondary-hover:hover {
	color: $secondary-hover;
}