---

---

@charset "utf-8";
@import "theme-colors/custom.css";

.bp-section .bp-container .has-side-nav,
.bp-section .bp-container .has-float-btns,
.bp-section.bottom-navigation {
  display: none;
}

.bp-section .bp-container .print-content {
  margin-left: 0px;
  width: 100%;
}
