---
layout: leftnav-page
---

{%- if content -%}
<div class="content">
{{- content -}}
</div>
{%- endif -%}

{%- assign board-of-directors = site.data.board-of-directors -%}
<div class="row is-multiline padding--bottom--lg" id="board-of-directors">
  {%- for director in board-of-directors -%}
    <div class="col is-half person-info-card padding--right">
      <div class="row margin--bottom--xs margin--right">
        <div class="col is-one-third image-col">
          {%- if director.image-url -%}
            <img class="margin--right--none" src="{{- site.baseurl -}}{{- director.image-url -}}">
          {%- endif -%}
        </div>
        <div class="col padding--top padding--bottom bg-table-grey">
          <p class="is-marginless padding--top--sm">
            <b>{{- director.name -}}</b><br>
            <small class="is-uppercase" style="font-size: 0.75rem">{{- director.title -}}</small><br>
          </p>
          <h6 class="is-marginless margin--top--xs">{{- director.organisation -}}</h6>
        </div>
      </div>
    </div>
  {%- endfor -%}
</div>