---
layout: skeleton
---

<section class="bp-section">
  <div class="bp-container pb-16">
    <div id="search-title" class="col is-8 is-offset-1 px-0">
      <h2 class="h2">{{- page.title -}}</h5>
    </div>
  </div>
  <div class="bp-container search-content">
    <div class="row">
      <div class="col is-3 is-offset-1">   
        <h5 class="margin--bottom--sm"><b>Search</b></h5>
        <div
          class="field has-addons control has-icons-left is-expanded input is-fullwidth is-large algolia-searchbar"
          id="searchbox"
        >
          <span class="is-large is-left">
              <i class="sgds-icon sgds-icon-search is-size-4 search-bar"></i>
          </span>
        </div>
        <h5 class="margin--bottom--sm subtitle-1 pt-4"><b>Filter by</b></h5>
        <hr class="algolia-search-divider"/>
        <div id="refinement-list-category-container">
          <h5 class="margin--bottom--sm subtitle-1">Category</h5>
          <div id="refinement-list-category" class="margin--bottom"></div>
          <hr class="algolia-search-divider"/>
        </div>
        <div id="refinement-list-subcategory-container">
          <h5 class="margin--bottom--sm subtitle-1">Sub-category</h5>
          <div id="refinement-list-subcategory" class="margin--bottom"></div>
          <hr class="algolia-search-divider"/>
        </div>
        <div id="refinement-list-year-container">
          <h5 class="margin--bottom--sm subtitle-1">Year</h5>
          <div id="refinement-list-year" class="margin--bottom"></div>
          <hr class="algolia-search-divider"/>
        </div>
        <div id="refinement-list-month-container">
          <h5 class="margin--bottom--sm subtitle-1">Month</h5>
          <div id="refinement-list-month" class="margin--bottom"></div>
          <hr class="algolia-search-divider"/>
        </div>
      </div>

      <div class="col is-8 margin--left">
        <div class="is-flex row">
            <div class="col is-9">
              <div id="stats"></div>
              <div id="current-refinements" style="display:none"></div>
              <div id="clear-refinements"></div>
            </div>
            <div id="sorted-by" class="col">
              <div>Sorted by most recent</div>
            </div>
        </div>
        <div class="row">
          <div id="range-input"></div>
          <!-- TODO -->
          <div id="loading-spinner">
          </div>
          <div class="col search-results-display">
            <div>
              <h5 class="search-results" id="hits"></h5>
            </div>
          </div>
        </div>
      </div>
    </div>
     </div>
  </section>

<div id="paginator-pages">
  <div id="pagination"></div>
</div>
<div class="search pagination padding--bottom--xl">
  
</div>
