---
layout: skeleton
---
<section class="sgds-section is-small sgds-section-pagetitle">
    <div class="sgds-container">
        {%- include header-breadcrumb.html -%}
    </div>
    <div class="sgds-container ">
        <div class="row">
            <div class="col">
                <h1 class="has-text-white">
                    <b>{{ page.title }}</b>
                </h1>
            </div>
        </div>
    </div>
</section>

<section class="sgds-section">
    <div class="sgds-container">
        <div class="row is-centered is-vcentered">
            <div class="col is-6">
                <div class="sgds-dropdown">
                    <div class="sgds-dropdown-trigger pointer">
                        <h2>
                            <b>Events in March 2019 <span class="sgds-icon sgds-icon-chevron-down"></span></b>
                        </h2>
                    </div>
                    <div class="sgds-dropdown-menu" id="sgds-dropdown-menu" role="menu">
                        <div class="sgds-dropdown-content has-text-weight-bold" style="border-top: 3px solid #4372d6;">
                            <div class="row padding--left--lg padding--right--lg padding--top has-text-centered">
                                <div class="col is-1 is-offset-3">
                                    <p><span class="sgds-icon sgds-icon-chevron-left"></span></p>
                                </div>
                                <div class="col is-2 is-offset-1">
                                    <p>2019</p>
                                </div>
                                <div class="col is-1 is-offset-1">
                                    <p><span class="sgds-icon sgds-icon-chevron-right"></span></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col is-4 has-text-centered padding--none">
                                    <a id="month1" class="sgds-button is-text is-fullwidth padding--left--none padding--right--none">January</a>
                                </div>
                                <div class="col is-4 has-text-centered padding--none">
                                    <a id="month2" class="sgds-button is-text is-fullwidth padding--left--none padding--right--none">February</a>
                                </div>
                                <div class="col is-4 has-text-centered padding--none">
                                    <a id="month3" class="sgds-button is-text is-fullwidth padding--left--none padding--right--none">March</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col is-4 has-text-centered padding--none">
                                    <a id="month4" class="sgds-button is-text is-fullwidth padding--left--none padding--right--none">April</a>
                                </div>
                                <div class="col is-4 has-text-centered padding--none">
                                    <a id="month5" class="sgds-button is-text is-fullwidth padding--left--none padding--right--none">May</a>
                                </div>
                                <div class="col is-4 has-text-centered padding--none">
                                    <a id="month6" class="sgds-button is-text is-fullwidth padding--left--none padding--right--none">June</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col is-4 has-text-centered padding--none">
                                    <a id="month7" class="sgds-button is-text is-fullwidth padding--left--none padding--right--none">July</a>
                                </div>
                                <div class="col is-4 has-text-centered padding--none">
                                    <a id="month8" class="sgds-button is-text is-fullwidth padding--left--none padding--right--none">August</a>
                                </div>
                                <div class="col is-4 has-text-centered padding--none">
                                    <a id="month9" class="sgds-button is-text is-fullwidth padding--left--none padding--right--none">September</a>
                                </div>
                            </div>
                            <div class="row padding--bottom">
                                <div class="col is-4 has-text-centered padding--none">
                                    <a id="month10" class="sgds-button is-text is-fullwidth padding--left--none padding--right--none">October</a>
                                </div>
                                <div class="col is-4 has-text-centered padding--none">
                                    <a id="month11" class="sgds-button is-text is-fullwidth padding--left--none padding--right--none">November</a>
                                </div>
                                <div class="col is-4 has-text-centered padding--none">
                                    <a id="month12" class="sgds-button is-text is-fullwidth padding--left--none padding--right--none">December</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col is-4 is-offset-2" style="font-size: 24px;">
                <div>
                    <div class="row is-mobile is-gapless">
                        <div class="col is-5">
                            <a id="events-previous-button" class="media-category-button">Previous</a>
                        </div>
                        <div class="col is-6 is-offset-1">
                            <a id="events-comingup-button" class="media-category-button selected">Coming Up</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row is-multiline">
            {%- for event in site.events -%}
            <div class="col is-one-third-widescreen is-half-desktop is-half-tablet">
                <a href="{{- event.permalink -}}">
                    <div class="sgds-card">
                        <div class="sgds-card-image">
                            <img
                                src="{{- event.image -}}"
                                alt="Banner image for {{- event.title -}}"
                                style="width:100%;height:100%;"
                            />
                        </div>
                        <div class="row is-mobile sgds-card-content">
                            <div class="col is-3 has-text-centered">
                                <p class="padding--top sgds-menu-list"><small>{{- event.start | date: "%b" -}}</small></p>
                                <p class="has-text-secondary has-text-weight-bold sgds-menu-list">{{- event.start | date: "%-d" -}}</p>
                            </div>
                            <div class="col is-9">
                                <h5 class="margin--bottom--sm"><b>{{- event.title -}}</b></h5>
                                <small>{{- event.address | join: "</small><br /><small>" -}}</small>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {%- endfor -%}
        </div>
    </div>
</section>

<nav class="search sgds-pagination is-small padding--bottom--xl">
    <a class="sgds-pagination-previous"><span class="sgds-icon sgds-icon-arrow-left is-size-5"></span></a>
    {%- comment -%} To insert page selectors {%- endcomment -%}
    <ul id="paginator-pages" class="sgds-pagination-list"></ul>
    <a class="sgds-pagination-next"><span class="sgds-icon sgds-icon-arrow-right is-size-5"></span></a>
</nav>
