---
layout: default
---

<section class="bp-section">
    <div class="bp-container">
        <div class="row is-centered is-vcentered">
            <div class="col is-5">
                <h2><b>Events in March 2019</b></h2>
            </div>
            <div class="col is-4 is-offset-3" style="font-size: 24px;">
                <div>
                    <div class="row is-mobile is-gapless">
                        <div class="col is-5">
                            <a id="events-previous-button" class="media-category-button">Previous</a>
                        </div>
                        <div class="col is-6 is-offset-1">
                            <a id="events-comingup-button" class="media-category-button selected">Coming Up</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row is-multiline">
            <div class="col is-one-third-widescreen is-half-desktop is-half-tablet">
                <a href="https://www.tech.gov.sg">
                    <div class="bp-card">
                        <div class="bp-card-image">
                            <img
                                src="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F60116727%2F188368147152%2F1%2Foriginal.20190410-071406?w=512&amp;auto=compress&amp;rect=28%2C0%2C8984%2C4492&amp;s=afceb3dd8236774e492a07659577a09e"
                                alt="Avatar"
                                style="width:100%"
                            />
                        </div>
                        <div class="row is-mobile bp-card-content">
                            <div class="col is-3 has-text-centered">
                                <p class="padding--top">May</p>
                                <p>16</p>
                            </div>
                            <div class="col is-9">
                                <h5 class="margin--bottom--sm"><b>Name of Your Event</b></h5>
                                <small>Sandcrawler Building</small><br />
                                <small>123 Elmo Street</small><br />
                                <small>Singapore 612425</small>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
