---
layout: skeleton
---
{%- if page.url == "/" -%}
	{%- assign notification_content = content | strip_html | strip -%}
	{%- if notification_content != "" -%}
		<div id="notification-bar" class="bp-notification bg-secondary is-marginless">
		    <div class="bp-container">
		        <div class="row">
		            <div class="col">
		            	<div class="field has-addons bp-notification-flex">
			                <div class="control has-text-centered has-text-white">
			                    {{- content -}}
			                </div>
			                <div class="control">
			        			<a id="cancel-notification" class="button has-text-white">
							        <span class="delete sgds-icon sgds-icon-cross is-size-4"></span>
							    </a>
			                </div>
						</div>
		            </div>
		        </div>
		    </div>
		</div>
	{%- endif -%}
{%- endif -%}

{%- for section in page.sections -%}
	{%- if forloop.first -%}
		{%- comment -%} Hero must be the first section {%- endcomment -%}
		{%- if section.hero -%}
			{%- include homepage/hero.html -%}
		{%- else -%}
			<section class="bp-section bg-newssection">
				<div class="bp-container">
					<div class="row">
						<div class="col">
							<h1>Hero must be the first section!</h1>
						</div>
					</div>
				</div>
			</section>
		{%- endif -%}
	{%- endif -%}
	{%- if section.infobar -%}
		{%- include homepage/infobar.html -%}
	{%- endif -%}
{%- endfor -%}

