---
layout: default
---

<section class="bp-section is-small bp-section-pagetitle">
    <div class="bp-container ">
        {%- include header-breadcrumb.html -%}
    </div>
    <div class="bp-container ">
        <div class="row">
            <div class="col">
                <h1 class="has-text-white"><b>{{page.title}}</b></h1>
            </div>
        </div>
    </div>
</section>

<section class="bp-section">
	<div class="bp-container padding--top--lg">
	    <div class="row">
	      <div class="col content is-8 is-offset-2">
	    		{{- content -}}
	      </div>
	    </div>
		<div class="row">
			<div class="col">
				<span class="bp-sec-button has-text-centered">
					<a class="is-uppercase media-category-button selected" id="citizens-button"><b>For Citizens</b></a>
					<a class="is-uppercase media-category-button" id="business-button"><b>For Businesses</b></a>
					<a class="is-uppercase media-category-button" id="government-button"><b>For Government</b></a>
				</span>
			</div>
		</div>
	</div>
</section>

<section class="bp-section bg-table-grey" id="citizens">
	<div class="bp-container">
		<div class="row is-multiline">
			{%- for document in site.products-and-services -%}
				{%- if document.tag == "citizens" -%}
					<div class="col is-one-quarter-widescreen is-one-third-desktop is-half-tablet padding--bottom--lg">
						<a href="{{- document.permalink | relative_url -}}" class="project-link">
		                <img src="{{site.baseurl}}{{document.thumbnail_image}}" alt="Image for {{document.title}}" class="project-image">
		                <div class="project-card">
		                    <div class="project-title margin--bottom--xs">
		                    	<small class="tag is-uppercase padding--bottom--sm">{{document.tag}}</small>
		                        <h5><b>{{document.title | truncate: 43}}</b></h5>
		                    </div>
		                </div>
		                </a>
		            </div>
				{%- endif -%}
			{%- endfor -%}
		</div>
	</div>
</section>

<section class="bp-section bg-table-grey" id="business">
	<div class="bp-container">
		<div class="row is-multiline">
			{%- for document in site.products-and-services -%}
				{%- if document.tag == "business" -%}
					<div class="col is-one-quarter-widescreen is-one-third-desktop is-half-tablet padding--bottom--lg">
						<a href="{{- document.permalink | relative_url -}}" class="project-link">
		                <img src="{{site.baseurl}}{{document.thumbnail_image}}" alt="Image for {{document.title}}" class="project-image">
		                <div class="project-card">
		                    <div class="project-title margin--bottom--xs">
		                    	<small class="tag is-uppercase padding--bottom--sm">{{document.tag}}</small>
		                        <h5><b>{{document.title | truncate: 43}}</b></h5>
		                    </div>
		                </div>
		                </a>
		            </div>
				{%- endif -%}
			{%- endfor -%}
		</div>
	</div>
</section>

<section class="bp-section bg-table-grey" id="government">
	<div class="bp-container">
		<div class="row is-multiline">
			{%- for document in site.products-and-services -%}
				{%- if document.tag == "government" -%}
					<div class="col is-one-quarter-widescreen is-one-third-desktop is-half-tablet padding--bottom--lg">
						<a href="{{- document.permalink | relative_url -}}" class="project-link">
		                <img src="{{site.baseurl}}{{document.thumbnail_image}}" alt="Image for {{document.title}}" class="project-image">
		                <div class="project-card">
		                    <div class="project-title margin--bottom--xs">
		                    	<small class="tag is-uppercase padding--bottom--sm">{{document.tag}}</small>
		                        <h5><b>{{document.title | truncate: 43}}</b></h5>
		                    </div>
		                </div>
		                </a>
		            </div>
				{%- endif -%}
			{%- endfor -%}
		</div>
	</div>
</section>

<script src="{{- "/assets/js/products-and-services.js" | relative_url -}}"></script>