---
layout: default
---
<style>
	.bg-hero {
		background: url('{{site.baseurl}}/images/isomer-banner.png') no-repeat top left;
		-webkit-background-size: cover;
		background-size: cover;
	}

	.bg-hero-bottom {
		background: url('{{site.baseurl}}/images/isomer-banner-bottom.png') no-repeat top left;
		-webkit-background-size: cover;
		background-size: cover;
	}
</style>

<section class="bp-hero bg-hero">
    <div class="bp-hero-body">
        <div class="bp-container margin--top--lg">
            <div class="row is-vcentered is-centered ma">
                <div class="col is-4 has-text-white is-hidden-touch">
                  <h1 class="display padding--bottom--lg margin--none">
                    <b>Isomer</b>
                  </h1>
                  <p class="padding--bottom--lg">
                    Rapidly launch a compliant website for your agency or office.
                  </p>
                  <a href="{{- site.baseurl -}}{{- button.url -}}" class="bp-button is-white is-outlined is-uppercase search-button">Request for Demo</a>
                </div>
                <div class="col is-8 is-hidden-touch">
{%- comment -%}                 	<img src="{{- site.baseurl -}}/images/isomer-banner-examples.jpg"/> {%- endcomment -%}
                </div>
                <div class="col has-text-white has-text-centered is-hidden-desktop">
                	<h1 class="display padding--bottom--lg"><b>Isomer</b></h1>
                	<p class=" padding--bottom--lg">
                    	Rapidly launch a compliant website for your agency or office.
                  	</p>
                	<a href="{{- site.baseurl -}}{{- button.url -}}" class="bp-button is-white is-outlined is-uppercase search-button">Request for Demo</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bp-section">
    <div class="bp-container">
        <div class="row">
            <div class="col is-8 is-offset-2 has-text-centered padding--top--xl">
                <p class="padding--bottom eyebrow is-uppercase">
                    TRUSTED BY THESE AGENCIES
                </p>
            </div>
        </div>
	    <div class="row has-text-centered margin--top padding--bottom">
	        <div class="col is-one-fifth helper">
	        	<img class="isomer-agency-logo" src="{{site.baseurl}}/images/boa-logo.png"/>
	        </div>
	        <div class="col is-one-fifth helper">
	        	<img class="isomer-agency-logo" src="{{site.baseurl}}/images/govtech-logo.png"/>
	        </div>
	        <div class="col is-one-fifth helper">
	        	<img class="isomer-agency-logo" src="{{site.baseurl}}/images/hlb-logo.png"/>
	        </div>
	        <div class="col is-one-fifth helper">
	        	<img class="isomer-agency-logo" src="{{site.baseurl}}/images/ndi-logo.jpg"/>
	        </div>
	        <div class="col is-one-fifth helper">
	        	<img class="isomer-agency-logo" src="{{site.baseurl}}/images/stratgroup-logo.jpg"/>
	        </div>
	    </div>
	</div>
</section>

<section class="bp-section" style="background-color:#6031b6">
    <div class="bp-container padding--bottom--lg">
        <div class="row">
            <div class="col is-8 is-offset-2 has-text-centered padding--top--xl">
                <p class="padding--bottom eyebrow is-uppercase has-text-white">
                    SHOWCASE
                </p>
                <h1 class="padding--bottom has-text-white"><b>Websites built with our templates</b></h1>
                <p class="has-text-white">You don't need to start from scratch with Isomer. Use one of our compliant-by-design templates so you can focus on your content.</p>
            </div>
        </div>
	    <div class="row has-text-centered margin--top padding--bottom">
	        <div class="col is-one-third">
	        	<a href="http://beta.tech.gov.sg">
	        		<div class="image-hoverable">
		        		<img class="isomer-example" src="{{site.baseurl}}/images/govtech-example.png" />
		        		<div class="image-hover-overlay"></div>
		        		<div class="bp-button is-white is-outlined is-uppercase image-hover-button search-button">Preview</div>
		        	</div>
	        	</a>
	        	<h5 class="padding--top--sm has-text-white"><b>GovTech</b></h5>
	        </div>
	        <div class="col is-one-third">
	        	<a href="https://isomerpages.github.io/isomerpages-hlb">
	        		<div class="image-hoverable">
			        	<img class="isomer-example" src="{{site.baseurl}}/images/hlb-example.png" />
			        	<div class="image-hover-overlay"></div>
			        	<div class="bp-button is-white is-outlined is-uppercase image-hover-button search-button">Preview</div>
			        </div>
			    </a>
			    <h5 class="padding--top--sm has-text-white"><b>Hotels Licensing Board</b></h5>
	        </div>
	        <div class="col is-one-third">
	        	<a href="https://isomerpages.github.io/isomerpages-boa">
	        		<div class="image-hoverable">
	        			<img class="isomer-example" src="{{site.baseurl}}/images/htvn-example.png" />
	        			<div class="image-hover-overlay"></div>
	        			<div class="bp-button is-white is-outlined is-uppercase image-hover-button search-button">Preview</div>
	        		</div>
	        	</a>
	        	<h5 class="padding--top--sm has-text-white"><b>Home Team Volunteer Network</b></h5>
	        </div>
	    </div>
	</div>
</section>

<section class="bp-section">
    <div class="bp-container padding--bottom--xl">
        <div class="row">
            <div class="col is-8 is-offset-2 has-text-centered padding--top--xl">
                <p class="padding--bottom eyebrow is-uppercase">
                    TEMPLATES
                </p>
                <h1 class="has-text-secondary padding--bottom"><b>Kickstart your website</b></h1>
                <p> You don't need to start from scratch with Isomer. Use one of our compliant-by-design templates so you can focus on your content. </p>
            </div>
        </div>
	    <div class="row has-text-centered margin--top padding--bottom">
	        <div class="col is-one-third">
	        	<a href="http://beta.tech.gov.sg">
	        		<div class="image-hoverable">
		        		<img class="isomer-example" src="{{site.baseurl}}/images/govtech-example.png" />
		        		<div class="image-hover-overlay"></div>
		        		<div class="bp-button is-white is-outlined is-uppercase image-hover-button search-button">Preview</div>
		        	</div>
	        	</a>
	        	<h5 class="padding--top--sm has-text-white"><b>GovTech</b></h5>
	        </div>
	        <div class="col is-one-third">
	        	<a href="https://isomerpages.github.io/isomerpages-hlb">
	        		<div class="image-hoverable">
			        	<img class="isomer-example" src="{{site.baseurl}}/images/hlb-example.png" />
			        	<div class="image-hover-overlay"></div>
			        	<div class="bp-button is-white is-outlined is-uppercase image-hover-button search-button">Preview</div>
			        </div>
			    </a>
			    <h5 class="padding--top--sm has-text-white"><b>Hotels Licensing Board</b></h5>
	        </div>
	        <div class="col is-one-third">
	        	<a href="https://isomerpages.github.io/isomerpages-boa">
	        		<div class="image-hoverable">
	        			<img class="isomer-example" src="{{site.baseurl}}/images/htvn-example.png" />
	        			<div class="image-hover-overlay"></div>
	        			<div class="bp-button is-white is-outlined is-uppercase image-hover-button search-button">Preview</div>
	        		</div>
	        	</a>
	        	<h5 class="padding--top--sm has-text-white"><b>Home Team Volunteer Network</b></h5>
	        </div>
	    </div>
	</div>
</section>


<section class="bp-section bg-newssection">
	<div class="bp-container padding--bottom--xl">
        <div class="row">
            <div class="col is-8 is-offset-2 has-text-centered padding--top--xl padding--bottom--xl">
                <p class="padding--bottom eyebrow is-uppercase">
                    BENEFITS
                </p>
                <h1 class="has-text-secondary padding--bottom"><b>Rely on Isomer for the heavy lifting</b></h1>
                <p> You don't need to start from scratch with Isomer. Use one of our compliant-by-design templates so you can focus on your content. </p>
            </div>
        </div>

	    <div class="row is-multiline">
	    	<div class="col is-4 padding--top--lg">
				<img class="digital-transformation-icon" src="{{site.baseurl}}/images/ic-computer.svg">
				<h5 class="margin--top--lg has-text-grey-darker"><b>Responsive</b></h5>
				<p class="margin--top--sm">Static site pages can be pre-generated and hosted in multiple places, allowing for redundancy</p>
			</div>
	    	<div class="col is-4 padding--top--lg">
				<img class="digital-transformation-icon" src="{{site.baseurl}}/images/ic-compliant.svg">
				<h5 class="margin--top--lg has-text-grey-darker"><b>Compliant by design</b></h5>
				<p class="margin--top--sm">Static site pages can be pre-generated and hosted in multiple places, allowing for redundancy</p>
			</div>
	    	<div class="col is-4 padding--top--lg">
				<img class="digital-transformation-icon" src="{{site.baseurl}}/images/ic-upgrade.svg">
				<h5 class="margin--top--lg has-text-grey-darker"><b>Continuous upgrade</b></h5>
				<p class="margin--top--sm">Static site pages can be pre-generated and hosted in multiple places, allowing for redundancy</p>
			</div>
	    	<div class="col is-4 padding--top--lg">
				<img class="digital-transformation-icon" src="{{site.baseurl}}/images/ic-computer.svg">
				<h5 class="margin--top--lg has-text-grey-darker"><b>Secure and scalable</b></h5>
				<p class="margin--top--sm">Static site pages can be pre-generated and hosted in multiple places, allowing for redundancy</p>
			</div>
	    	<div class="col is-4 padding--top--lg">
				<img class="digital-transformation-icon" src="{{site.baseurl}}/images/ic-fast.svg">
				<h5 class="margin--top--lg has-text-grey-darker"><b>Easy, powerful and fast</b></h5>
				<p class="margin--top--sm">Static site pages can be pre-generated and hosted in multiple places, allowing for redundancy</p>
			</div>
	    	<div class="col is-4 padding--top--lg">
				<img class="digital-transformation-icon" src="{{site.baseurl}}/images/ic-computer.svg">
				<h5 class="margin--top--lg has-text-grey-darker"><b>Less downtime</b></h5>
				<p class="margin--top--sm">Static site pages can be pre-generated and hosted in multiple places, allowing for redundancy</p>
			</div>
	    </div>
	</div>
</section>

<section class="bp-section bg-hero-bottom">
    <div class="bp-container">
        <div class="row">
            <div class="col is-8 is-offset-2 has-text-centered padding--top--xl padding--bottom--xl has-text-white">
                <h1 class="padding--bottom"><b>Ready to start?</b></h1>
                <p class="padding--bottom--lg"> We will discuss with you on your needs and propose possible ways for you to be part of the movement. </p>
            	<a href="{{- site.baseurl -}}{{- button.url -}}">
	            	<div class="bp-button is-white is-outlined is-uppercase search-button">
	            		Get in touch
	            	</div>
            	</a>
            </div>
        </div>
	</div>
</section>