---
layout: default
---
{%- assign collection-name = page.collection_name -%}
{%- assign current-collection = site[collection-name] -%}


<section class="bp-section is-small bp-section-pagetitle">
    <div class="bp-container ">
        {%- include header-breadcrumb.html -%}
    </div>
    <div class="bp-container">
        <div class="row">
            <div class="col">
                <h1 class="has-text-white"><b>{{- page.title -}}</b></h1>
            </div>
        </div>
    </div>
</section>
<section class="bp-section padding--none is-hidden-desktop">
    <div class="bp-dropdown is-hoverable">
        <div class="bp-dropdown-trigger">
            <a class="bp-button bp-dropdown-button is-fullwidth" aria-haspopup="true" aria-controls="dropdown-menu">
                <span><b><p>{{- page.title -}}</p></b></span>
                <span class="icon is-small">
                    <i class="sgds-icon sgds-icon-chevron-down is-size-4" aria-hidden="true"></i>
                </span>
            </a>
        </div>
        <div class="bp-dropdown-menu has-text-left hide" id="dropdown-menu" role="menu">
            <div class="bp-dropdown-content">
                {%- assign prev-second-nav-title = "" -%}
                {%- assign is-in-second-level-div = false -%}
                {%- for collection-document in current-collection -%}
                    {%- comment -%} If collection-document is selected {%- endcomment -%}
                    {%- if page.url == collection-document.permalink -%}
                        {%- comment -%} If collection-document has a second_nav_title {%- endcomment -%}
                        {%- if collection-document.second_nav_title -%}
                            {%- unless collection-document.second_nav_title == prev-second-nav-title -%}
                                {%- if is-in-second-level-div == true -%}
                                    </div>
                                {%- endif -%}
                                <a class="bp-dropdown-item has-text-secondary second-level-nav-header-mobile">
                                    <b><p>{{- collection-document.second_nav_title -}}<i class="sgds-icon sgds-icon-chevron-up is-pulled-right is-size-4" aria-hidden="true"></i></p></b>
                                </a>
                                <div class="second-level-nav-div-mobile">
                                    <a class="bp-dropdown-item has-text-secondary second-level-nav-item-mobile" href="{{- site.baseurl -}}{{- collection-document.permalink -}}">
                                        <b><p>{{- collection-document.title -}}</p></b>
                                    </a>
                                {%- assign is-in-second-level-div = true -%}
                            {%- else -%}
                                <a class="bp-dropdown-item has-text-secondary second-level-nav-item-mobile second-level-nav-item-mobile" href="{{- site.baseurl -}}{{- collection-document.permalink -}}">
                                    <b><p>{{- collection-document.title -}}</p></b>
                                </a>
                            {%- endunless -%}

                        {%- comment -%} Else collection-document is a single-level-nav item {%- endcomment -%}
                        {%- else -%}
                            {%- if is-in-second-level-div == true -%}
                                </div>
                            {%- endif -%}
                            <a class="bp-dropdown-item has-text-secondary" href="{{- site.baseurl -}}{{- collection-document.permalink -}}">
                                <b><p>{{- collection-document.title -}}</p></b>
                            </a>
                            {%- assign is-in-second-level-div = false -%}
                        {%- endif -%}
                    {%- comment -%} Else; collection-document is not selected {%- endcomment -%}
                    {%- else -%}
                        {%- if collection-document.second_nav_title -%}
                            {%- unless collection-document.second_nav_title == prev-second-nav-title -%}
                                {%- if page.second_nav_title == collection-document.second_nav_title -%}
                                    {%- if is-in-second-level-div == true -%}
                                        </div>
                                    {%- endif -%}
                                    <a class="bp-dropdown-item has-text-secondary second-level-nav-header-mobile">
                                        <b><p>{{- collection-document.second_nav_title -}}<i class="sgds-icon sgds-icon-chevron-up is-pulled-right is-size-4" aria-hidden="true"></i></p></b>
                                    </a>
                                    <div class="second-level-nav-div-mobile">
                                        <a class="bp-dropdown-item second-level-nav-item-mobile" href="{{- site.baseurl -}}{{- collection-document.permalink -}}">
                                            <p>{{- collection-document.title -}}</p>
                                        </a>
                                    {%- assign is-in-second-level-div = true -%}
                                {%- else -%}
                                    {%- if is-in-second-level-div == true -%}
                                        </div>
                                    {%- endif -%}
                                    <a class="bp-dropdown-item second-level-nav-header-mobile">
                                        <p>{{- collection-document.second_nav_title -}}<i class="sgds-icon sgds-icon-chevron-down is-pulled-right is-size-4" aria-hidden="true"></i></p>
                                    </a>
                                    <div class="second-level-nav-div-mobile is-hidden">
                                        <a class="bp-dropdown-item second-level-nav-item-mobile" href="{{- site.baseurl -}}{{- collection-document.permalink -}}">
                                            <p>{{- collection-document.title -}}</p>
                                        </a>
                                    {%- assign is-in-second-level-div = true -%}
                                {%- endif -%}
                            {%- else -%}
                                <a class="bp-dropdown-item second-level-nav-item-mobile" href="{{- site.baseurl -}}{{- collection-document.permalink -}}">
                                    <p>{{- collection-document.title -}}</p>
                                </a>
                            {%- endunless -%}

                        {%- comment -%} Single level nav item that is inactive {%- endcomment -%}
                        {%- else -%}
                            {%- if is-in-second-level-div == true -%}
                                </div>
                            {%- endif -%}
                            <a class="bp-dropdown-item" href="{{- site.baseurl -}}{{- collection-document.permalink -}}">
                                <p>{{- collection-document.title -}}</p>
                            </a>
                            {%- assign is-in-second-level-div = false -%}
                        {%- endif -%}
                    {%- endif -%}
                    {%- assign prev-second-nav-title = collection-document.second_nav_title -%}
                {%- endfor -%}
            </div>
        </div>
    </div>
</section>

<section class="bp-section">
    <div class="bp-container padding--top--lg padding--bottom--xl">
        <div class="row">
            <div class="col is-2 is-position-relative has-side-nav is-hidden-touch">
                <div class="sidenav">
                    <aside class="bp-menu is-gt sidebar__inner">
                        <ul class="bp-menu-list">
                            {%- assign prev-second-nav-title = "" -%}
                            {%- assign is-in-second-level-div = false -%}
                            {%- for collection-document in current-collection -%}
                                {%- comment -%} If this page is selected {%- endcomment -%}
                                {%- if page.url == collection-document.permalink -%}
                                    {%- if collection-document.second_nav_title -%}
                                        {%- unless prev-second-nav-title == collection-document.second_nav_title -%}
                                            {%- if is-in-second-level-div == true -%}
                                                </div>
                                            {%- endif -%}
                                            <li class="is-active second-level-nav-header"><a class="is-active second-level-nav-header">{{- collection-document.second_nav_title -}}<i class="sgds-icon sgds-icon-chevron-up is-pulled-right is-size-4" aria-hidden="true"></i></a></li>
                                            <div class="second-level-nav-div">
                                            {%- assign is-in-second-level-div = true -%}
                                        {%- endunless -%}
                                        <li><a class="is-active second-level-nav-item padding--top--none" href="{{- site.baseurl -}}{{- collection-document.permalink -}}">{{- collection-document.title -}}</a></li>
                                    {%- else -%}
                                        {%- if is-in-second-level-div == true -%}
                                            </div>
                                        {%- endif -%}
                                        <li><a class="is-active" href="{{- site.baseurl -}}{{- collection-document.permalink -}}">{{- collection-document.title -}}</a></li>
                                        {%- assign is-in-second-level-div = false -%}
                                    {%- endif -%}
                                {%- comment -%} If this page is not the one that is selected {%- endcomment -%}
                                {%- else -%}
                                    {%- if collection-document.second_nav_title -%}
                                        {%- unless prev-second-nav-title == collection-document.second_nav_title -%}
                                            {%- if page.second_nav_title == collection-document.second_nav_title -%}
                                                {%- if is-in-second-level-div == true -%}
                                                    </div>
                                                {%- endif -%}
                                                <li class="is-active second-level-nav-header"><a class="is-active second-level-nav-header">{{- collection-document.second_nav_title -}}<i class="sgds-icon sgds-icon-chevron-up is-pulled-right is-size-4" aria-hidden="true"></i></a></li>
                                                {%- assign is-in-second-level-div = true -%}
                                                <div class="second-level-nav-div">

                                            {%- else -%}
                                                {%- if is-in-second-level-div == true -%}
                                                    </div>
                                                {%- endif -%}
                                                <li class="second-level-nav-header"><a class="second-level-nav-header">{{- collection-document.second_nav_title -}}<i class="sgds-icon sgds-icon-chevron-down is-pulled-right is-size-4" aria-hidden="true"></i></a></li>
                                                {%- assign is-in-second-level-div = true -%}
                                                <div class="second-level-nav-div is-hidden">
                                            {%- endif -%}
                                        {%- endunless -%}
                                        <li><a class="second-level-nav-item padding--top--none" href="{{- site.baseurl -}}{{- collection-document.permalink -}}">{{- collection-document.title -}}</a></li>
                                    {%- else -%}
                                        {%- if is-in-second-level-div == true -%}
                                            </div>
                                        {%- endif -%}
                                        <li><a href="{{- site.baseurl -}}{{- collection-document.permalink -}}">{{- collection-document.title -}}</a></li>
                                        {%- assign is-in-second-level-div = false -%}
                                    {%- endif -%}
                                {%- endif -%}
                                {%- assign prev-second-nav-title = collection-document.second_nav_title -%}
                            {%- endfor -%}
                        </ul>
                    </aside>
                </div>
            </div>
            <div class="col is-8 is-offset-1-desktop is-12-touch print-content">
                <div class="row">
                    <div class="col">
                        {{- content -}}
                    </div>
                </div>
            </div>
            {%- include print.html -%}
        </div>
    </div>
</section>

{%- for collection-document in current-collection -%}
    {%- if page.url == collection-document.permalink -%}
        {%- comment -%} If the page is the first in the list {%- endcomment -%}
        {%- if forloop.first -%}
            {%- assign nextIndex = forloop.index0 | plus: 1 -%}
            <section class="bp-section bottom-navigation">
                <div>
                    <a href="{{- site.baseurl -}}{{- current-collection[nextIndex].permalink -}}" class="is-full is-right">
                        <p class="has-text-weight-semibold">NEXT <span class="sgds-icon sgds-icon-arrow-right is-size-4"></span></p>
                        <p class="is-hidden-mobile">{{- current-collection[nextIndex].title -}}</p>
                    </a>
                </div>
            </section>

        {%- comment -%} If the page is last in the list {%- endcomment -%}
        {%- elsif forloop.last -%}
            {%- assign prevIndex = forloop.index0 | minus: 1 -%}

            <section class="bp-section bottom-navigation">
                <div>
                    <a href="{{- site.baseurl -}}{{- current-collection[prevIndex].permalink -}}" class="is-full">
                        <p class="has-text-weight-semibold"><span class="sgds-icon sgds-icon-arrow-left is-size-4"></span> PREVIOUS </p>
                        <p class="is-hidden-mobile">{{- current-collection[prevIndex].title -}}</p>
                    </a>
                </div>
            </section>

        {%- comment -%} For all other intermediate pages in the list {%- endcomment -%}
        {%- else -%}
            {%- assign prevIndex = forloop.index0 | minus: 1 -%}
            {%- assign nextIndex = forloop.index0 | plus: 1 -%}

            <section class="bp-section bottom-navigation">
                <div>
                    <a href="{{- site.baseurl -}}{{- current-collection[prevIndex].permalink -}}" class="is-half is-left">
                        <p class="has-text-weight-semibold"><span class="sgds-icon sgds-icon-arrow-left is-size-4"></span> PREVIOUS </p>
                        <p class="is-hidden-mobile">{{- current-collection[prevIndex].title -}}</p>
                    </a>
                    <a href="{{- site.baseurl -}}{{- current-collection[nextIndex].permalink -}}" class="is-half is-right">
                        <p class="has-text-weight-semibold">NEXT <span class="sgds-icon sgds-icon-arrow-right is-size-4"></span></p>
                        <p class="is-hidden-mobile">{{- current-collection[nextIndex].title -}}</p>
                    </a>
                </div>
            </section>
        {%- endif -%}
    {%- endif -%}
{%- endfor -%}
