---
layout: leftnav-page
---

<div class="col padding--bottom--xl">
	<span class="bp-sec-button has-text-centered">
		<a class="is-uppercase media-category-button selected" id="board-of-directors-button"><b>Board of Directors</b></a>
		<a class="is-uppercase media-category-button" id="senior-leadership-button"><b>Senior Leadership</b></a>
		<a class="is-uppercase media-category-button" id="organisational-structure-button"><b>Organisational Structure</b></a>
	</span>
</div>

{% assign our-team = site.data.our-team %}
<div class="content">
	<div class="row is-multiline padding--top--lg padding--bottom--lg" id="board-of-directors">
		{% for director in our-team.board-of-directors %}
			<div class="col is-half person-info-card padding--right">
				<div class="row bg-grey-light padding--top--sm padding--bottom--sm padding--right">
					<div class="col is-one-third image-col">
						{% if director.image-url %}
							<img class="margin--right--none" src="{{ site.baseurl }}{{ director.image-url }}">
						{% endif %}
					</div>
					<div class="col padding--top padding--bottom bg-table-grey">
						<p class="is-marginless padding--top--sm">
							<b>{{ director.name }}</b><br>
							<small class="is-uppercase">{{ director.title }}</small><br>
							<h6 class="is-marginless margin--top--xs">{{ director.organisation }}</h6>
						</p>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>

	<div class="row is-multiline padding--top--lg padding--bottom--lg" id="senior-leadership">
		{% for member in our-team.senior-leadership %}
			<div class="col is-half person-info-card padding--right">
				<div class="row bg-grey-light padding--top--sm padding--bottom--sm padding--right">
					<div class="col is-one-third image-col">
						{% if member.image-url %}
							<img class="margin--right--none" src="{{ site.baseurl }}{{ member.image-url }}">
						{% endif %}
					</div>
					<div class="col padding--top padding--bottom bg-table-grey">
						<p class="is-marginless padding--top--sm">
							<b>{{ member.name }}</b><br>
							<small class="is-uppercase">{{ member.title }}</small><br>
							<h6 class="is-marginless margin--top--xs">{{ member.organisation }}</h6>
						</p>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
	<div id="organisational-structure">
		{% for division in our-team.organisational-structure %}
			<!-- Accordion header -->
			<div class="col is-large bp-accordion-header padding has-icons-right field has-addons is-marginless">
				<div class="col is-expanded is-fullwidth is-paddingless">
					<h4 class="has-text-grey-dark is-marginless"><b> {{ division.title }}
					</b></h4>
				</div>
				<span class="sgds-icon sgds-icon-plus is-size-5 bp-accordion-button"></span>
			</div>
			<!-- Accordion body -->
			<div id="accordion-body-{{forloop.index0}}" class="col padding bp-accordion-body">
				{% for team in division.teams %}
					<h6 class="margin--top--none">
						<b><a href="">{{ team.name }}</a></b>
					</h6>
				{% endfor %}
			</div>
		{% endfor %}
		{{ content }}
	</div>
</div>
