---
layout: skeleton
---
<section class="sgds-section is-small sgds-section-pagetitle">
    <div class="sgds-container ">
        <div class="row">
            <div class="col">
                {%- include header-breadcrumb.html -%}
            </div>
        </div>
    </div>
    <div class="sgds-container">
        <div class="row">
            <div class="col">
                <h1 class="has-text-white"><b>{{- page.title -}}</b></h1>
            </div>
        </div>
    </div>
    {%- if page.collection == "posts" -%}
        <div class="sgds-container">
            <div class="row">
                <div class="col is-11">
                    <small class="has-text-white" style="padding-top: 2.25rem; padding-bottom: 0">{{- page.date | date_to_string | upcase -}}</small>
                </div>
            </div>
        </div>
    {%- endif -%}
</section>

{%- if page.collection and page.collection != "posts" -%}
    {%- comment -%} Page is a leftnav page {%- endcomment -%}
    {%- assign collection = site[page.collection] -%}
    <section class="sgds-section padding--none is-hidden-desktop">
        <div class="mobile-nav-dropdown">
            <div class="sgds-dropdown-trigger">
                <button class="sgds-button sgds-dropdown-button is-fullwidth" aria-haspopup="true" aria-controls="dropdown-menu">
                    <span><b><p>{{- page.title -}}</p></b></span>
                    <span class="icon is-small">
                        <i class="sgds-icon sgds-icon-chevron-down is-size-4" aria-hidden="true"></i>
                    </span>
                </button>
            </div>
            <div class="sgds-dropdown-menu has-text-left" id="dropdown-menu" role="menu">
                <div class="sgds-dropdown-content">
                    {%- assign prev_third_nav_title = "" -%}
                    {%- assign in_third_nav = false -%}

                    {%- for collection_doc in collection -%}
                        {%- if collection_doc.third_nav_title -%}
                            {%- comment -%} If this is a third level nav page {%- endcomment -%}
                            {%- if prev_third_nav_title != collection_doc.third_nav_title -%}
                                {%- if in_third_nav -%}
                                    {%- comment -%} Different third nav, end previous third nav block and start new block {%- endcomment -%}
                                    </div>
                                {%- endif -%}

                                {%- assign anchor_colour = "" -%}
                                {%- assign chevron_direction = "down" -%}
                                {%- assign hidden = "is-hidden" -%}
                                {%- if page.third_nav_title == collection_doc.third_nav_title -%}
                                    {%- assign anchor_colour = "has-text-secondary has-text-weight-bold" -%}
                                    {%- assign chevron_direction = "up" -%}
                                    {%- assign hidden = "" -%}
                                {%- endif -%}

                                <a class="sgds-dropdown-item third-level-nav-header-mobile {{ anchor_colour }}">
                                    <p>{{- collection_doc.third_nav_title -}}<i class="sgds-icon sgds-icon-chevron-{{ chevron_direction }} is-pulled-right is-size-4" aria-hidden="true"></i></p>
                                </a>
                                <div class="third-level-nav-div-mobile {{ hidden }}">
                                {%- assign prev_third_nav_title = collection_doc.third_nav_title -%}
                                {%- assign in_third_nav = true -%}
                            {%- endif -%}

                            {%- assign anchor_colour = "" -%}
                            {%- if page.url == collection_doc.url -%}
                                {%- assign anchor_colour = "has-text-secondary has-text-weight-bold" -%}
                            {%- endif -%}

                            <a class="sgds-dropdown-item third-level-nav-item-mobile {{ anchor_colour }}" href="{{- collection_doc.url -}}">
                                <p>{{- collection_doc.title -}}</p>
                            </a>
                        {%- else -%}
                            {%- comment -%} If this is not a third level nav page {%- endcomment -%}
                            {%- if in_third_nav -%}
                                {%- comment -%} End previous third nav block {%- endcomment -%}
                                </div>
                                {%- assign in_third_nav = false -%}
                            {%- endif -%}

                            {%- assign anchor_colour = "" -%}
                            {%- if page.url == collection_doc.url -%}
                                {%- assign anchor_colour = "has-text-secondary has-text-weight-bold" -%}
                            {%- endif -%}

                            <a class="sgds-dropdown-item third-level-nav-item-mobile {{ anchor_colour }}" href="{{- collection_doc.url -}}">
                                <p>{{- collection_doc.title -}}</p>
                            </a>
                        {%- endif -%}
                        {%- if forloop.last and in_third_nav -%}
                            </div>
                        {%- endif -%}
                    {%- endfor -%}
                </div>
            </div>
        </div>
    </section>

    <section class="sgds-section">
        <div class="sgds-container padding--top--lg padding--bottom--xl">
            <div class="row">
                <div class="col is-2 is-position-relative has-side-nav is-hidden-touch">
                    <div class="sidenav">
                        <aside class="sgds-menu is-gt sidebar__inner">
                            <ul class="sgds-menu-list">
                                {%- assign prev_third_nav_title = "" -%}
                                {%- assign in_third_nav = false -%}

                                {%- for collection_doc in site[page.collection] -%}
                                    {%- if collection_doc.third_nav_title -%}
                                        {%- comment -%} If this is a third level nav page {%- endcomment -%}
                                        {%- if prev_third_nav_title != collection_doc.third_nav_title -%}
                                            {%- if in_third_nav -%}
                                                {%- comment -%} Different third nav, end previous third nav block and start new block {%- endcomment -%}
                                                </div>
                                            {%- endif -%}

                                            {%- assign anchor_colour = "" -%}
                                            {%- assign chevron_direction = "down" -%}
                                            {%- assign hidden = "is-hidden" -%}
                                            {%- if page.third_nav_title == collection_doc.third_nav_title -%}
                                                {%- assign anchor_colour = "is-active" -%}
                                                {%- assign chevron_direction = "up" -%}
                                                {%- assign hidden = "" -%}
                                            {%- endif -%}

                                            <li class="third-level-nav-header">
                                                <a class="third-level-nav-header {{ anchor_colour }}" aria-label="{{- collection_doc.third_nav_title -}}">
                                                    {{- collection_doc.third_nav_title -}}<i class="sgds-icon sgds-icon-chevron-{{ chevron_direction }} is-pulled-right is-size-4" aria-hidden="true"></i>
                                                </a>
                                            </li>
                                            <div class="third-level-nav-div {{ hidden }}">
                                            {%- assign prev_third_nav_title = collection_doc.third_nav_title -%}
                                            {%- assign in_third_nav = true -%}
                                        {%- endif -%}

                                        {%- assign anchor_colour = "" -%}
                                        {%- if page.url == collection_doc.url -%}
                                            {%- assign anchor_colour = "has-text-secondary has-text-weight-bold" -%}
                                        {%- endif -%}

                                        <li><a class="third-level-nav-item padding--top--none {{ anchor_colour }}" href="{{- collection_doc.url -}}">{{- collection_doc.title -}}</a></li>
                                    {%- else -%}
                                        {%- comment -%} If this is note a third level nav page {%- endcomment -%}
                                        {%- if in_third_nav -%}
                                            {%- comment -%} End previous third nav block {%- endcomment -%}
                                            </div>
                                            {%- assign in_third_nav = false -%}
                                        {%- endif -%}

                                        {%- assign anchor_colour = "" -%}
                                        {%- if page.url == collection_doc.url -%}
                                            {%- assign anchor_colour = "is-active" -%}
                                        {%- endif -%}

                                        <li>
                                            <a class="{{ anchor_colour }}" href="{{- collection_doc.url -}}">{{- collection_doc.title -}}</a>
                                        </li>
                                    {%- endif -%}
                                    {%- if forloop.last and in_third_nav -%}
                                        </div>
                                    {%- endif -%}
                                {%- endfor -%}
                            </ul>
                        </aside>
                    </div>
                </div>
                <div class="col is-8 is-offset-1-desktop is-12-touch print-content">
                    <div class="row">
                        <div class="col">
                            <div class="content">
                                {{- content -}}
                                {%- if site.recommender -%}
                                    {%- unless page.recommender == false -%}
                                        {%- include recommender.html -%}
                                    {%- endunless -%}
                                {%- endif -%}
                            </div>
                        </div>
                    </div>
                </div>
                {%- include print.html -%}
            </div>
        </div>
    </section>

    {%- for collection_doc in collection -%}
        {%- if page.url == collection_doc.url -%}
            {%- comment -%} If the page is the first in the list {%- endcomment -%}
            {%- if forloop.first and collection[1] -%}
                <section class="sgds-section sgds-bottom-navigation">
                    <div>
                        <a href="{{- collection[1].url -}}" class="is-full is-right">
                            <p class="has-text-weight-semibold">NEXT <span class="sgds-icon sgds-icon-arrow-right is-size-5"></span></p>
                            <p class="is-hidden-mobile">{{- collection[1].title -}}</p>
                        </a>
                    </div>
                </section>

            {%- comment -%} If the page is last in the list {%- endcomment -%}
            {%- elsif forloop.last -%}
                {%- assign prevIndex = forloop.index0 | minus: 1 -%}
                {%- if prevIndex > 0 -%}
                    <section class="sgds-section sgds-bottom-navigation">
                        <div>
                            <a href="{{- collection[prevIndex].url -}}" class="is-full">
                                <p class="has-text-weight-semibold"><span class="sgds-icon sgds-icon-arrow-left is-size-5"></span> PREVIOUS </p>
                                <p class="is-hidden-mobile">{{- collection[prevIndex].title -}}</p>
                            </a>
                        </div>
                    </section>
                {%- endif -%}
            {%- comment -%} For all other intermediate pages in the list {%- endcomment -%}
            {%- else -%}
                {%- assign prevIndex = forloop.index0 | minus: 1 -%}
                {%- assign nextIndex = forloop.index0 | plus: 1 -%}

                <section class="sgds-section sgds-bottom-navigation">
                    <div>
                        <a href="{{- collection[prevIndex].url -}}" class="is-half is-left">
                            <p class="has-text-weight-semibold"><span class="sgds-icon sgds-icon-arrow-left is-size-5"></span> PREVIOUS </p>
                            <p class="is-hidden-mobile">{{- collection[prevIndex].title -}}</p>
                        </a>
                        <a href="{{- collection[nextIndex].url -}}" class="is-half is-right">
                            <p class="has-text-weight-semibold">NEXT <span class="sgds-icon sgds-icon-arrow-right is-size-5"></span></p>
                            <p class="is-hidden-mobile">{{- collection[nextIndex].title -}}</p>
                        </a>
                    </div>
                </section>
            {%- endif -%}
            {%- break -%}
        {%- endif -%}
    {%- endfor -%}
{%- else -%}
    {%- comment -%} Page is a simple page {%- endcomment -%}
    <section class="sgds-section">
        <div class="sgds-container content padding--top--lg padding--bottom--xl">
            <div class="row">
                <div class="col is-8 is-offset-2 print-content">
                    {{- content -}}
                {%- if site.recommender == true -%}
                    {%- unless page.recommender == false -%}
                        {%- include recommender.html -%}
                    {%- endunless -%}
                {%- endif -%}
                </div>
                {%- include print.html -%}
            </div>
        </div>
    </section>
{%- endif -%}
