---
layout: skeleton
---
<section class="bp-section is-small bp-section-pagetitle">
    <div class="bp-container ">
        <div class="row">
            <div class="col">
                {%- include header-breadcrumb.html -%}
            </div>
        </div>
    </div>
    <div class="bp-container">
        <div class="row">
            <div class="col">
                <h1 class="has-text-white"><b>{{- page.title -}}</b></h1>
            </div>
        </div>
    </div>
    {%- if page.collection == "posts" -%}
        <div class="bp-container">
            <div class="row">
                <div class="col is-11">
                    <small class="has-text-white" style="padding-top: 2.25rem; padding-bottom: 0">{{- page.date | date_to_string | upcase -}}</small>
                </div>
            </div>
        </div>
    {%- endif -%}
</section>

{%- if page.collection and page.collection != "posts" -%}
    {%- comment -%} Page is a leftnav page {%- endcomment -%}
    <section class="bp-section padding--none is-hidden-desktop">
        <div class="bp-dropdown is-hoverable">
            <div class="bp-dropdown-trigger">
                <a class="bp-button bp-dropdown-button is-fullwidth" aria-haspopup="true" aria-controls="dropdown-menu">
                    <span><b><p>{{- page.title -}}</p></b></span>
                    <span class="icon is-small">
                        <i class="sgds-icon sgds-icon-chevron-down is-size-4" aria-hidden="true"></i>
                    </span>
                </a>
            </div>
            <div class="bp-dropdown-menu has-text-left hide" id="dropdown-menu" role="menu">
                <div class="bp-dropdown-content">
                    {%- assign prev_third_nav_title = "" -%}
                    {%- assign in_third_nav = false -%}
                    {%- assign collectionList = site.data.collections.collections -%}
                    {%- for collection in collectionList -%}
                    {%- comment -%} Loop through the collections.yml file {%- endcomment -%}
                        {%- if collection.collection == page.collection -%}
                        {%- comment -%} Access the correct collection {%- endcomment -%}
                            {%- for section in collection.collectionPages -%}
                            {%- comment -%} Loop through all sections in the collection {%- endcomment -%}
                                {%- if section.thirdnav -%}
                                {%- comment -%} If this is a third level nav page {%- endcomment -%}
                                    {%- if prev_third_nav_title != section.thirdnav -%}
                                    {%- comment -%} Since we are in a thirdnav, check if we are at the start of a new thirdnav or same as previous thirdnav {%- endcomment -%}
                                        {%- if in_third_nav -%}
                                            {%- comment -%} Different third nav, end previous third nav block and start new block {%- endcomment -%}
                                            </div>
                                        {%- endif -%}

                                        {%- assign anchor_colour = "" -%}
                                        {%- assign chevron_direction = "down" -%}
                                        {%- assign hidden = "is-hidden" -%}

                                        {%- if page.third_nav_title == section.thirdnav -%}
                                            {%- assign anchor_colour = "is-active" -%}
                                            {%- assign chevron_direction = "up" -%}
                                            {%- assign hidden = "" -%}
                                        {%- endif -%}

                                        <a class="bp-dropdown-item third-level-nav-header-mobile {{ anchor_colour }}">
                                            <p>{{- section.thirdnav -}}<i class="sgds-icon sgds-icon-chevron-{{ chevron_direction }} is-pulled-right is-size-4" aria-hidden="true"></i></p>
                                        </a>
                                        <div class="third-level-nav-div-mobile {{ hidden }}">
                                        {%- assign prev_third_nav_title = section.thirdnav -%}
                                        {%- assign in_third_nav = true -%}
                                    {%- endif -%}

                                    {%- assign anchor_colour = "" -%}
                                    {%- if page.url == section.url -%}
                                        {%- assign anchor_colour = "has-text-secondary has-text-weight-bold" -%}
                                    {%- endif -%}

                                    <a class="bp-dropdown-item third-level-nav-item-mobile {{ anchor_colour }}" href="{{- section.url -}}">
                                        <p>{{- section.title -}}</p>
                                    </a>
                                {%- else -%}
                                {%- comment -%} If this is NOT a third level nav page {%- endcomment -%}
                                    {%- if in_third_nav -%}
                                        {%- comment -%} End previous third nav block {%- endcomment -%}
                                        </div>
                                        {%- assign in_third_nav = false -%}
                                    {%- endif -%}

                                    {%- assign anchor_colour = "" -%}
                                    {%- if page.url == section.url -%}
                                        {%- assign anchor_colour = "is-active" -%}
                                    {%- endif -%}

                                    <a class="bp-dropdown-item third-level-nav-item-mobile {{ anchor_colour }}" href="{{- section.url -}}">
                                        <p>{{- section.title -}}</p>
                                    </a>
                                {%- endif -%}
                                {%- if forloop.last and in_third_nav -%}
                                    </div>
                                {%- endif -%}
                            {%- endfor -%}
                        {%- endif -%}
                    {%- endfor -%}
                </div>
            </div>
        </div>
    </section>

    <section class="bp-section">
        <div class="bp-container padding--top--lg padding--bottom--xl">
            <div class="row">
                <div class="col is-2 is-position-relative has-side-nav is-hidden-touch">
                    <div class="sidenav">
                        <aside class="bp-menu is-gt sidebar__inner">
                            <ul class="bp-menu-list">
                                {%- assign prev_third_nav_title = "" -%}
                                {%- assign in_third_nav = false -%}
                                {%- assign collectionList = site.data.collections.collections -%}
                                {%- for collection in collectionList -%}
                                {%- comment -%} Loop through the collections.yml file {%- endcomment -%}    
                                    {%- if collection.collection == page.collection -%}
                                    {%- comment -%} Access the correct collection {%- endcomment -%}   
                                        {%- for section in collection.collectionPages -%}
                                        {%- comment -%} Loop through all sections in the collection {%- endcomment -%}
                                            {%- if section.thirdnav -%}
                                            {%- comment -%} If this is a third level nav page {%- endcomment -%}
                                                {%- if prev_third_nav_title != section.thirdnav -%}
                                                {%- comment -%} Since we are in a thirdnav, check if we are at the start of a new thirdnav or same as previous thirdnav {%- endcomment -%}
                                                    {%- if in_third_nav -%}
                                                        {%- comment -%} Different third nav, end previous third nav block and start new block {%- endcomment -%}
                                                        </div>
                                                    {%- endif -%}
            
                                                    {%- assign anchor_colour = "" -%}
                                                    {%- assign chevron_direction = "down" -%}
                                                    {%- assign hidden = "is-hidden" -%}

                                                    {%- if page.third_nav_title == section.thirdnav -%}
                                                        {%- assign anchor_colour = "is-active" -%}
                                                        {%- assign chevron_direction = "up" -%}
                                                        {%- assign hidden = "" -%}
                                                    {%- endif -%}

                                                    <li class="third-level-nav-header">
                                                        <a class="third-level-nav-header {{ anchor_colour }}">
                                                            {{- section.thirdnav -}}<i class="sgds-icon sgds-icon-chevron-{{ chevron_direction }} is-pulled-right is-size-4" aria-hidden="true"></i>
                                                        </a>
                                                    </li>
                                                    <div class="third-level-nav-div {{ hidden }}">
                                                    {%- assign prev_third_nav_title = section.thirdnav -%}
                                                    {%- assign in_third_nav = true -%}
                                                {%- endif -%}

                                                {%- assign anchor_colour = "" -%}
                                                {%- if page.url == section.url -%}
                                                    {%- assign anchor_colour = "has-text-secondary has-text-weight-bold" -%}
                                                {%- endif -%}

                                                <li><a class="third-level-nav-item padding--top--none {{ anchor_colour }}" href="{{- section.url -}}">{{- section.title -}}</a></li>
                                            {%- else -%}
                                                {%- comment -%} If this is NOT a third level nav page {%- endcomment -%}
                                                {%- if in_third_nav -%}
                                                    {%- comment -%} End previous third nav block {%- endcomment -%}
                                                    </div>
                                                    {%- assign in_third_nav = false -%}
                                                {%- endif -%}

                                                {%- assign anchor_colour = "" -%}
                                                {%- if page.url == section.url -%}
                                                    {%- assign anchor_colour = "is-active" -%}
                                                {%- endif -%}
                                                <li>
                                                    <a class="{{ anchor_colour }}" href="{{- section.url -}}">{{- section.title -}}</a>
                                                </li>
                                            {%- endif -%}
                                            {%- if forloop.last and in_third_nav -%}
                                                </div>
                                            {%- endif -%}
                                        {%- endfor -%}
                                    {%- endif -%}
                                {%- endfor -%}
                            </ul>
                        </aside>
                    </div>
                </div>
                <div class="col is-8 is-offset-1-desktop is-12-touch print-content">
                    <div class="row">
                        <div class="col">
                            <div class="content">
                                {{- content -}}
                                {%- if site.recommender -%}
                                    {%- unless page.recommender == false -%}
                                        {%- include recommender.html -%}
                                    {%- endunless -%}
                                {%- endif -%}
                            </div>
                        </div>
                    </div>
                </div>
                {%- include print.html -%}
            </div>
        </div>
    </section>



    {%- for collection in collectionList -%}
    {%- comment -%} Loop through the collections.yml file {%- endcomment -%}
        {%- if collection.collection == page.collection -%}
        {%- comment -%} Access the correct collection {%- endcomment -%}
            {%- for section in collection.collectionPages -%}
            {%- comment -%} Loop through all sections in the collection {%- endcomment -%}
                {%- if page.url == section.url -%}
                {%- comment -%} check that we have the right page, since we want to determine the pages that come before and after it in the bottom nav {%- endcomment -%}
                    {%- if forloop.first and collection.collectionPages[1] -%}
                    {%- comment -%} checks that we are at the first page in the collection, and that there is at least a second page {%- endcomment -%}
                        <section class="bp-section bottom-navigation">
                            <div>
                                <a href="{{- collection.collectionPages[1].url -}}" class="is-full is-right">
                                    <p class="has-text-weight-semibold">NEXT <span class="sgds-icon sgds-icon-arrow-right is-size-4"></span></p>
                                    <p class="is-hidden-mobile">{{- collection.collectionPages[1].title -}}</p>
                                </a>
                            </div>
                        </section>

                    {%- elsif forloop.last -%}
                    {%- comment -%} checks that we are at the last page in the collection, and that there is at least a second page {%- endcomment -%}
                        {%- assign prevIndex = collection.collectionPages.size | minus: 2 -%}
                        {%- if prevIndex > 0 -%}
                            <section class="bp-section bottom-navigation">
                                <div>
                                    <a href="{{- collection.collectionPages[prevIndex].url -}}" class="is-full">
                                        <p class="has-text-weight-semibold"><span class="sgds-icon sgds-icon-arrow-left is-size-4"></span> PREVIOUS </p>
                                        <p class="is-hidden-mobile">{{- collection.collectionPages[prevIndex].title -}}</p>
                                    </a>
                                </div>
                            </section>
                        {%- endif -%}
                    {%- else -%}
                    {%- comment -%} for all the intermediate pages {%- endcomment -%}
                        {%- assign prevIndex = forloop.index0 | minus: 1 -%}
                        {%- assign nextIndex = forloop.index0 | plus: 1 -%}

                        <section class="bp-section bottom-navigation">
                            <div>
                                <a href="{{- collection.collectionPages[prevIndex].url -}}" class="is-half is-left">
                                    <p class="has-text-weight-semibold"><span class="sgds-icon sgds-icon-arrow-left is-size-4"></span> PREVIOUS </p>
                                    <p class="is-hidden-mobile">{{- collection.collectionPages[prevIndex].title -}}</p>
                                </a>
                                <a href="{{- collection.collectionPages[nextIndex].url -}}" class="is-half is-right">
                                    <p class="has-text-weight-semibold">NEXT <span class="sgds-icon sgds-icon-arrow-right is-size-4"></span></p>
                                    <p class="is-hidden-mobile">{{- collection.collectionPages[nextIndex].title -}}</p>
                                </a>
                            </div>
                        </section>
                    {%- endif -%}
                {%- endif -%}
            {%- endfor -%}
        {%- endif -%}
    {%- endfor -%}

{%- else -%}
    {%- comment -%} Page is a simple page {%- endcomment -%}
    <section class="bp-section">
        <div class="bp-container content padding--top--lg padding--bottom--xl">
            <div class="row">
                <div class="col is-8 is-offset-2 print-content">
                    {{- content -}}
                {%- if site.recommender == true -%}
                    {%- unless page.recommender == false -%}
                        {%- include recommender.html -%}
                    {%- endunless -%}
                {%- endif -%}
                </div>
                {%- include print.html -%}
            </div>
        </div>
    </section>
{%- endif -%}
