---
layout: default
---
<section class="bp-section bg-secondary">
  <div class="bp-container ">
    <div class="row">
      <div class="col is-11">
        {% include header-breadcrumb.html %}
      </div>
    </div>
  </div>
  <div class="bp-container ">
    <div class="row">
      <div class="col is-11">
      	<h1 class="has-text-white"><b>{{page.title}}</b></h1>
      </div>
    </div>
  </div>
  <div class="bp-container ">
    <div class="row">
      <div class="col is-11">
      	<p class="has-text-white">SINGAPORE, {{ page.date | date_to_string | upcase }} | FOR IMMEDIATE RELEASE</p>
      </div>
    </div>
  </div>
</section>

<section class="bp-section">
	<div class="bp-container content">
    <div class="row">
      <div class="col is-8 is-offset-2">
        <br>
    		{{content}}
      </div>
    </div>
  </div>
</section>