---
layout: skeleton
---
<section class="sgds-section is-small sgds-section-pagetitle">
    <div class="sgds-container">
        {%- include header-breadcrumb.html -%}
    </div>
    <div class="sgds-container ">
        <div class="row">
            <div class="col">
                <h1 class="has-text-white"><b>{{page.title}}</b></h1>
            </div>
        </div>
    </div>
</section>

{%- include resource-category-buttons.html -%}

{%- comment -%} Posts {%- endcomment -%}
<section class="sgds-section is-small">
    <div class="sgds-container padding--top padding--bottom--xl">
        <div class="row is-multiline">
            {%- for post in site.posts -%}
                {%- if post.categories[1] == ' ' -%}
{%- comment -%}                 <div class="col is-3 ">
                    <img src="/assets/img/media-releases/1.jpg" alt="">
                    <div class="news-content">
                        <div>
                            <small class="tag has-text-grey">{{- post.categories[1] | upcase | replace: '-', ' ' -}}</small>
                            <h4 class="title">
                            <a href="{{- post.url | relative_url | append: '.html'}}" class="has-text-grey-dark is-media-card">{{- post.title | truncatewords : 10}}</a>
                            </h4>
                        </div>
                        <small class="date has-text-grey">
                            {{- post.date | date_to_string -}}
                        </small>
                    </div>
                </div> {%- endcomment -%}
                {%- else -%}
                    {%- comment -%} Define category_index - the index used to determine the bg-color-{{category_index}} {%- endcomment -%}
                    {%- comment -%} Fallback in case category_index is not set in the for loop {%- endcomment -%}
                    {%- assign category_index = 1 -%}
                    {%- comment -%} Edge case where subcategory has the same name as resource room (post.categories[1] becomes undefined) {%- endcomment -%}
                    {%- if post.categories[1] -%}
                        {%- assign post_category = post.categories[1] -%}
                    {%- else -%}
                        {%- assign post_category = post.categories[0] -%}
                    {%- endif -%}
                    {%- for category in site.categories -%}
                        {%- capture category_name -%}{{- category | first -}}{%- endcapture -%}
                        {%- if category_name == post_category -%}
                            {%- assign category_index = forloop.index0 | modulo:5 | plus:1 -%}
                            {%- break -%}
                        {%- endif -%}
                    {%- endfor -%}

                    <div class="col is-one-quarter-widescreen is-one-third-desktop is-half-tablet resource-card-element hide" id="{{- post.date | date: "%Y"}}">
                        {%- if post.permalink -%}
                            <a href="{{- post.permalink | relative_url -}}" class="is-media-card">
                        {%- else -%}
                            <a href="{{- post.file_url | relative_url -}}" class="is-media-card" target="_blank">
                        {%- endif -%}
                        <div class="sgds-card bg-media-color-{{category_index}}">
                            <div class="sgds-card-content">
                                <header>
                                    <div class="has-text-white padding--bottom">{{- post_category | upcase | replace: '-', ' ' | replace: '_', ' ' -}}</div>
                                    <h5 class="has-text-white padding--bottom--lg has-text-weight-bold">{{- post.title | truncatewords: 15 -}}</h5>
                                </header>
                                <footer class="is-fluid padding--top--md description">
                                    <span class="has-text-white">{{- post.date | date_to_string | upcase -}}</span>
                                    {%- if post.file_url -%}
                                        <span class="sgds-icon sgds-icon-download align-right is-size-4 has-text-white"></span>
                                    {%- endif -%}
                                </footer>
                            </div>

                        </div>
                        </a>
                    </div>
                {%- endif -%}
            {%- endfor -%}
        </div>
    </div>
</section>


<nav class="search sgds-pagination is-small padding--bottom--xl">
    <a class="sgds-pagination-previous"><span class="sgds-icon sgds-icon-arrow-left is-size-5"></span></a>
    {%- comment -%} To insert page selectors {%- endcomment -%}
    <ul id="paginator-pages" class="sgds-pagination-list"></ul>
    <a class="sgds-pagination-next"><span class="sgds-icon sgds-icon-arrow-right is-size-5"></span></a>
</nav>
