---
layout: default
---

<section class="bp-section is-small bp-section-pagetitle">
    <div class="bp-container">
        {% include header-breadcrumb.html %}
    </div>
    <div class="bp-container ">
        <div class="row">
            <div class="col">
                <h1 class="has-text-white"><b>{{page.title}}</b></h1>
            </div>
        </div>
    </div>
</section>

{%- assign resources_name_with_slashes = site.resources_name | prepend: "/" | append: "/" -%}
{%- assign page_url_no_whitespace =  page.url -%}
{%- capture page_category -%}
    {{ page_url_no_whitespace | remove: resources_name_with_slashes | remove: "/" }} 
{%- endcapture -%}


<!-- Define category_index - the index used to determine the bg-color-{{category_index}} -->
{% for category in site.categories %}
    {%- capture category_name -%} {{- category | first -}} {% endcapture %}
    {% if category_name == page_category %}
        {% assign category_index = forloop.index0 %}
    {% endif %}
{% endfor %}

<!-- Resource category buttons -->
<section class="bp-section is-small">
    <div class="bp-container padding--top--lg padding--bottom">
        <div class="row">
            <div class="col is-9">
                <div class="bp-buttons">
                    {% for category in site.categories %}
                        {%- capture category_name -%} {{- category | first -}} {% endcapture %}
                        {%- capture category_url -%} 
                            {%- if category_name == site.resources_name -%}
                                /{{site.resources_name}}/
                            {%- else -%}
                                /{{site.resources_name}}/{{category_name}}/
                            {%- endif -%}
                        {%- endcapture -%}

                        <span class="bp-sec-button">
                            {%- if category_name == site.resources_name -%}
                                    <a href="{{site.baseurl}}/{{site.resources_name}}/" class="is-uppercase media-category-button"><b>ALL</b></a>
                            {% else %}
                                {% if page_url_no_whitespace == category_url %}
                                    <a href="{{site.baseurl}}/{{site.resources_name}}/{{category_name}}/" class="is-uppercase media-category-button selected"><b>{{category_name | replace: '-', ' '}}</b></a>
                                {% else %}
                                    <a href="{{site.baseurl}}/{{site.resources_name}}/{{category_name}}/" class="is-uppercase media-category-button"><b>{{category_name | replace: '-', ' '}}</b></a>
                                {% endif %}
                            {% endif %}
                        </span>

                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Posts -->
<section class="bp-section is-small">
    <div class="bp-container padding--top padding--bottom--xl">
        <div class="row is-multiline">
            {% for post in site.posts %}
                {% if post.categories[1] == ' '%}
                <div class="col is-3 ">
                    <img src="/assets/img/media-releases/1.jpg" alt="">
                    <div class="news-content">
                        <div>
                            <small class="tag has-text-grey">{{ post.categories[1] | upcase | replace: '-', ' ' }}</small>
                            <h4 class="title">
                            <a href="{{ post.url | relative_url | append: '.html'}}" class="has-text-grey-dark">{{ post.title | truncatewords : 10}}</a>
                            </h4>
                        </div>
                        <small class="date has-text-grey">
                            {{ post.date | date_to_string }}
                        </small>
                    </div>
                </div>
                {%- elsif post.categories[1] == page_category -%}
                <div class="col is-3">
                    {% if post.permalink %}
                        <a href="{{ post.permalink | relative_url }}">
                    {% else %}
                        <a href="{{ post.file_url | relative_url }}">
                    {% endif %}
                    <div class="media-card-plain bg-media-color-{{category_index}} padding--lg"  style="height:100%; min-height:336px"">
                        <div>
                            <small class="has-text-white padding--bottom">{{ post.categories[1] | upcase | replace: '-', ' ' }}</small>
                            <h5 class="has-text-white"><b>{{ post.title | truncatewords: 15}}</b></h4>
                        </div>
                        <div class="is-fluid padding--top-md description">
                            <small class="has-text-white is-inline">{{ post.date | date_to_string | upcase }}</small>
                            {% if post.file_url %}
                                <small class="has-text-white">  
                                    <span class="sgds-icon sgds-icon-download align-right"></span>
                                </small>
                            {% endif %}
                        </div>
                    </div>
                    </a>
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</section>
