---
layout: default
---

<section class="sgds-section is-small sgds-section-pagetitle">
    <div class="sgds-container">
        {%- include header-breadcrumb.html -%}
    </div>
    <div class="sgds-container ">
        <div class="row">
            <div class="col">
                <h1 class="has-text-white"><b>{{page.title}}</b></h1>
            </div>
        </div>
    </div>
</section>

{%- assign page_category = page.url | split: "/" | last -%}

{%- comment -%} Define category_index - the index used to determine the bg-color-{{category_index}} {%- endcomment -%}
{%- comment -%} Fallback in case category_index is not set in the for loop {%- endcomment -%}
{%- assign category_index = 1 -%}
{%- for category in site.categories -%}
    {%- assign category_name = category.first -%}
    {%- if category_name == page_category -%}
        {%- assign category_index = forloop.index0 | modulo:5 | plus:1 -%}
        {%- break -%}
    {%- endif -%}
{%- endfor -%}

{%- assign readable_page_category = page_category | upcase | replace: "-", " " | replace: "_", " " -%}

{%- include resource-category-buttons.html -%}

{%- comment -%} Posts {%- endcomment -%}
<section class="sgds-section is-small">
    <div class="sgds-container padding--top padding--bottom--xl">
        <div class="row is-multiline">
            {%- for post in site.categories[page_category] -%}
                <div class="col is-one-quarter-widescreen is-one-third-desktop is-half-tablet resource-card-element hide" data-postyear="{{- post.date | date: "%Y" -}}">
                    {%- if post.file_url -%}
                        <a href="{{- post.file_url -}}" class="is-media-card" target="_blank">
                    {%- else -%}
                        <a href="{{- post.permalink -}}" class="is-media-card">
                    {%- endif -%}
                    <div class="sgds-card bg-media-color-{{category_index}}">
                        <div class="sgds-card-content has-text-white padding-lg">
                            <header>
                                <p class="has-text-white padding--bottom">{{- readable_page_category -}}</p>
                                <h6 class="has-text-white"><b>{{- post.title | truncatewords: 15 -}}</b></h6>
                            </header>
                            <footer style="display:flex; justify-content: space-between">
                                {{- post.date | date_to_string | upcase -}}
                                {%- if post.file_url -%}
                                    <span class="sgds-icon sgds-icon-download align-right is-size-7"></span>
                                {%- endif -%}
                            </footer>
                        </div>
                    </div>
                    </a>
                </div>
            {%- endfor -%}
        </div>
    </div>
</section>

<div class="search pagination padding--bottom--xl">
    <span class="sgds-icon sgds-icon-arrow-left is-size-6"></span>
    {%- comment -%} To insert page selectors {%- endcomment -%}
    <div id="paginator-pages"></div>
    <span class="sgds-icon sgds-icon-arrow-right is-size-6"></span>
</div>