---
layout: default
---

<section class="bp-section is-small bp-section-pagetitle">
    <div class="bp-container">
        {% include header-breadcrumb.html %}
    </div>
    <div class="bp-container">
        <div class="row">
            <div class="col">
                <h1 class="has-text-white"><b>{{page.title}}</b></h1>
            </div>
        </div>
    </div>
</section>

<section class="bp-section">
	<div class="bp-container content padding--top--lg padding--bottom--xl">
        <div class="row">
            <div class="col is-8 is-offset-2">
            	{{content}}
            </div>
        </div>
    </div>
</section>