{%- comment -%} 
    Test if navitem.url starts with http:// or https:// (is external)
    
    Because Liquid does not support functions, and this is repeatedly used throughout the theme, I have decided to "simulate" it as a function by writing it as an include

    This works because the scope of a variable in Liquid is the whole page

    {%- assign url_input = your_url_input -%}
    {%- include functions/external_url.html -%}

    Takes in a variable named url_input, and "returns" a variable named anchor which comes in the format "href=\"{{url_input}}\" target=\"_blank\" rel=\"noreferrer\"" for external URLs and "href=\"{{site.baseurl}}{{url_input}}\"" for internal URLs

    This means that whatever the URL, you can just use the format <a {{anchor}} class="your classes here"> for proper URL support

    If you need to know whether or not the url_input is external (e.g. for your own URL handling), use the variable named external - it'll be boolean, see below
{%- endcomment -%}

{%- assign external = false -%}
{%- assign url_input = url_input | strip -%}

{%- assign checkArray = url_input | split: "https://" -%}
{%- if checkArray.first.size == 0 -%}
    {%- comment -%} Starts with https:// {%- endcomment -%}
    {%- assign external = true -%}
{%- else -%}
    {%- assign checkArray = url_input | split: "http://" -%}
    {%- if checkArray.first.size == 0 -%}
        {%- comment -%} Starts with http:// {%- endcomment -%}
        {%- assign external = true -%}
    {%- endif -%}
{%- endif -%}

{%- if external -%}
    {%- capture anchor -%}href="{{url_input}}" target="_blank" rel="noreferrer"{%- endcapture -%}
{%- else -%}
    {%- capture anchor -%}href="{{site.baseurl}}{{url_input}}"{%- endcapture -%}
{%- endif -%}